@charset "utf-8";
/* CSS Document */
/* @import url('css/font-awesome.min.css');*/
/* In html file */
/*<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="viewport" content="width=device-width">*/
/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
@media (max-width: 1599px) {
}
@media (max-width: 1069px) {
}
@media (max-width: 992px) {
#blog-detail .col-md-4 ul li span.rpwwt-post-title{ font-size:14px;}
}
/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 768px) {
.slider .back{ height:190px; padding-top:20%;}
#contctus .contact_form .col-sm-6 input{ width:80%;}
.rpwwt-widget ul li{ width:100%; float:none;}
.rpwwt-widget ul li:last-child{ width:100%; float:none;}
.rpwwt-widget ul:after{ content:''; clear:both; display:block;}
.slider .slide-img{ width:50%;}
.rpwwt-widget ul li img{ float:none;}
#blog-detail .col-md-4 ul li span.rpwwt-post-title, #blog-detail .col-md-4 ul li div.rpwwt-post-date, #blog-detail #recentcomments li, #blog-detail #categories-2 ul li, #blog-detail #recent-posts-2 ul li{ text-align:center;}
.update_contnt{ max-width:100%; padding:25px;}
.mosaicflow__item img{ max-width:100%;}
.mn-tag .up-date.pull-left, .mn-tag .up-tag { width:100%; text-align:center; padding:0px; margin-bottom:10px;}
.mosaicflow {
    column-count: 2;
    column-gap: 15px;
}
#blog-detail img{
height: auto;
}
#blog-detail .col-md-4 ul li a{
display: flex;
align-items: center;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#blog-detail .col-md-4 ul li span.rpwwt-post-title {
	font-size: 12px;
	line-height: 1.2;
	text-align: left;
}
#blog-detail .col-md-4 ul li div.rpwwt-post-date {
    text-align: left;
    color: #444;
    font-size: 10px;
    font-family: 'montserratlight';
    margin-top: -13px;
    text-align: left !important;
    padding-left: 56px;
}
#blog-detail .col-md-8 h3 {
    font-size: 20px;
    text-align: left;
    margin: 15px 0px;
}
#blog-detail .col-md-8 .date-title {
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
}
#blog-detail .col-md-8 p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}
#blog-detail .follow-share .s-link {
    float: left;
}
}
@media (max-width: 643px) {
.hedr-2 div.pull-left, .hedr-2 div.pull-right{ float:none; width:100%;}
header .hedr-2 ul#menu-header-menu li:first-child{ margin:0px;}
footer#colophon .col-xs-8, footer#colophon .col-xs-4{ width:100%; text-align:center;}
footer#colophon .col-xs-8 footer#form-wysija-2 input{ width:100% !important;}
footer#colophon .col-xs-4 footer#form-wysija-2 input[type="submit"]{ width:28% !important; float:right !important;}
footer#colophon .col-xs-4 footer#form-wysija-2:after{ content:''; clear:both; display:block;}
}
@media (max-width: 480px) {
#contctus input.wpcf7-submit{ padding:8px 0px; width:100%; margin:auto; float:none;}
#contctus .contact_form .col-sm-6 input{ width:100%;}
#contctus .contact_form .col-xs-5, #contctus .contact_form .col-xs-4{ width:50%}
#contctus .contact_form .col-xs-3{ width:100%;}
#blog-detail .col-md-8 h3{ font-size:20px;}
#blog-detail .col-md-8 .date-title::before, #blog-detail .col-md-8 .date-title::after{ display:none;}
.rpwwt-widget ul li{ width:100%; float:none;}
#blog-detail .col-md-8 form#commentform .comment-form-author, #blog-detail .col-md-8 form#commentform .comment-form-email{ float:none; width:100%; text-align:left;}
#blog-detail .col-md-8 form#commentform .comment-form-author input, #blog-detail .col-md-8 form#commentform .comment-form-email input{ width:100%;}
footer#colophon  .site-info div.pull-left, footer#colophon  .site-info div.pull-right{ width:100%; float:none; text-align:center;}
.mosaicflow {
    column-count: 1;
    column-gap: 15px;
}
}
/* Mobile devices */
@media (max-width: 359px) {
footer .newsletter .wysija-paragraph{ width:100%;}
footer .newsletter input[type="submit"]{ float:none; margin:auto;}
#blog-detail .col-md-8 h3{ font-size:16px;}

}
/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

}

@media print {

}
