@charset "utf-8";
/* CSS Document */
@import url('fonts.css');

.homebg {
    background: #f2f1f1;
    padding: 30px 0;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

a.skip-link {
	display: none;
}

body {
	background-color: #f6f6f6 !important;
	font-family: 'montserratregular';
}

a.btn-default {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

a,
a:hover,
a:active,
a:focus {
	outline: none;
}
p, p span {
	font-family: 'montserratregular';
    font-size: 14px !important;
}

/* header
===============================================================================================================*/
button#menu-toggle {
	display: none;
}

header .hedr-2 {
	background-color: #fff;
}

header .hedr-2 ul#menu-header-menu {
	margin-bottom: 0px;
	margin-top: 10px;
}

header .hedr-2 ul#menu-header-menu li {
	display: inline-block;
	margin-left: 20px;
}

header h1 {
	margin: 0px;
}

header .hedr-2 {
	/* background-color:#a9d300 ; margin:15px 0px 0 0;*/
	padding: 10px 0px;
	border-bottom: 1px solid #bababa;
}

header .hedr-2 ul#menu-header-menu li a {
	color: #000;
	font-family: 'montserratregular';
	font-size: 16px;
}

header .hedr-2 ul#menu-header-menu li a:hover {
	color: #025a94
}

header .hder {
	background-color: #000;
	padding: 10px 0px;
}

header .hder ul.icons-medium {
	margin: 0px;
}

header .hder ul.icons-medium li {
	margin-bottom: 0px;
}

header .hder ul.icons-medium li img {
	height: 24px;
	width: 24px;
}

header .hder #wpb_widgetadd-2 a {
	color: #fff;
	height: 24px;
	width: 24px;
	position: relative;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	margin-left: 6px;
}

header .hder a:hover {
	color: #000;
}

header .hder a:before {
	position: relative;
	z-index: 1
}

header .hder a:after {
	content: " ";
	transition: all 255ms ease-in;
	-moz-transition: all 255ms ease-in;
	-webkit-transition: all 255ms ease-in;
	transform: scale3d(0, 0, 0);
	-webkit-transform: scale3d(0, 0, 0);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	opacity: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

header .hder a:hover:after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

header .site-branding p,
header .site-branding h1 {
	margin: 0;
	line-height: 30px
}

/* slider
========================================================================================================*/
/*#primary .slider cat-2, #primary .slider cat-3, #primary .slider cat-4{ float:left; width:33.3333%%;}*/

.slider .slide-img {
	float: left;
	width: 33.333%;
}

.slider img {
	min-height: 400px;
}

.slider .cat-2 {
	background-image: url(../images/imge-03.jpg);
	background-repeat: no-repeat;
}

.slider .cat-3 {
	background-image: url(../images/imge-02.jpg);
	background-repeat: no-repeat;
}

.slider .cat-6 {
	background-image: url(../images/imge-01.jpg);
	background-repeat: no-repeat;
}

.cat-1 {
	background-image: url(../images/imge-01.jpg);
	background-repeat: no-repeat !important;
}

.slider .back {
	background-color: rgba(0, 0, 0, 0.5);
	height: 350px;
	text-align: center;
	color: #fff;
	padding-top: 45%;
}

.slider .back h3 {
	margin-top: 10px;
}

.slider {
	border: 5px solid #424242;
}

.slider .back img {
	height: 40px;
	min-height: inherit;
	object-fit: cover;
	width: auto;
}

.slider .back hgroup a {
	color: #fff
}

.slider .back hgroup {
	vertical-align: middle;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.slider .back hgroup:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

/* grid
========================================================================================================*/
.grid-section ul li a.btn {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.grid-section {
	margin: 0px
}

.mosaicflow {
	column-count: 3;
    column-gap: 15px;
}

.grid-section:after,
.mosaicflow__item figure figcaption:after,
footer .site-info:after {
	clear: both;
	display: block;
	content: ""
}

.mosaicflow__column {
	float: none;
	width: auto !important;
	/* display: flex;
	flex-wrap: wrap; */
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.mosaicflow__item {
	position: relative;
	/* width: 33.33% !important; */
}

.mosaicflow__item img {
	display: block;
	width: 100%;
	height: auto;
}

.mosaicflow__item figure {
	padding: 15px
}

.mosaicflow__item figure figcaption {
	background: #fff;
	padding: 25px;
	text-align: left;
	color: #666666
}

.mosaicflow__item figure figcaption .category {
	position: relative;
	font-family: 'montserratsemi_bold';
}

.mosaicflow__item figure figcaption .category a {
	color: #000
}

.mosaicflow__item figure figcaption .category::after {
	background: #025a94;
	content: "";
	height: 4px;
	left: -26px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	width: 20px;
}

.mosaicflow__item figure figcaption h4 a {
	font-family: 'montserratbold';
	color: #025a94
}

.mosaicflow__item figure figcaption .date {
	color: #888888;
	font-size: 12px;
	letter-spacing: 0.1rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.mosaicflow__item figure figcaption .follow-share .share-button .wabtn_container {
	display: none;
}

.mosaicflow__item figure figcaption a.btn-primary {
	color: #fff
}

.mosaicflow__item figure figcaption .follow-share .share-button {
	display: none
}

#s-share-buttons.s-share-w-c a {
	text-align: center;
}

.mosaicflow__item figure figcaption .follow-share:hover .share-button {
	display: inline-block;
	vertical-align: middle;
}

.mosaicflow__item figure figcaption .follow-share #s-share-buttons.s-share-w-c a {
	background: none;
	width: auto;
	height: auto;
	margin-left: 5px
}

.mosaicflow__item figure figcaption .follow-share #s-share-buttons.s-share-w-c a:before {
	font-family: 'FontAwesome';
	font-size: 1em;
	color: #000;
}

.mosaicflow__item figure figcaption .follow-share #s-share-buttons.s-share-w-c a:hover:before {
	color: #025a94;
}

.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-facebook:before {
	content: "\f09a"
}

.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-twitter:before {
	content: "\f099"
}

.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-google-plus:before {
	content: "\f0d5"
}

.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-linkedin:before {
	content: "\f0e1"
}

.mosaicflow__item figure.grid-comment figcaption {
	background: #333;
	color: #fff
}

.mosaicflow__item figure.grid-comment figcaption p {
	font-size: 20px;
	font-family: 'montserratsemi_bold';
	font-style: italic;
	position: relative;
	padding-left: 25px
}

.mosaicflow__item figure.grid-comment figcaption p:before {
	content: "\f10d";
	font-family: 'FontAwesome';
	font-size: 1em;
	position: absolute;
	top: -8px;
	left: 0
}

.mosaicflow__item figure.grid-comment figcaption .cmnt-name {
	float: left;
	position: relative;
	margin-top: 20px;
	padding-left: 30px;
	font-size: 16px;
	font-style: italic
}

.mosaicflow__item figure.grid-comment figcaption .cmnt-name::after {
	background: #ffaf22;
	content: "";
	height: 4px;
	left: -26px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	width: 20px;
}

/* footer
========================================================================================================*/
footer {
	background: #222;
	color: #fff;
}

footer .newsletter .wysija-paragraph {
	float: left;
	width: 70%;
	text-align: left
}

footer .newsletter .wysija-paragraph input {
	color: #000;
}

footer .newsletter input[type="submit"] {
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #fff;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 8px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	margin-top: 0
}

footer .social {
	margin-top: 30px;
	text-align: right
}

footer .social a {
	color: #fff;
	height: 24px;
	width: 24px;
	position: relative;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	margin-left: 6px;
}

footer .social a:hover {
	color: #000;
}

footer .social a:before {
	position: relative;
	z-index: 1
}

footer .social a:after {
	content: " ";
	transition: all 255ms ease-in;
	-moz-transition: all 255ms ease-in;
	-webkit-transition: all 255ms ease-in;
	transform: scale3d(0, 0, 0);
	-webkit-transform: scale3d(0, 0, 0);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	opacity: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

footer .social a:hover:after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

footer .site-info {
	color: #aaa;
	font-size: 12px;
	margin-top: 5px;
	padding: 10px;
	border-top: 1px solid #111
}

footer .site-info a {
	color: #fff;
}

footer .site-info a:hover {
	color: #aaa
}


/*======================updates====================
=============================================================*/
/**** UPDATE PAge --------------- */
#col_about {
	background: url(../images/milky-way.jpg) no-repeat center top fixed;
	background-size: cover;
	margin-bottom: 20px;
	margin-top: 10px;
	padding-bottom: 20px;
}

.update_contnt {
	background-color: rgba(255, 255, 255, 0.898);

	display: inline-block;
	margin: 12px 0;
	max-width: 70%;
	padding: 60px;
	text-align: left;
	-webkit-transform: translateX(0) translateY(4%);
	-moz-transform: translateX(0) translateY(4%);
	-ms-transform: translateX(0) translateY(4%);
	transform: translateX(0) translateY(4%);

}

.updates-all {
	text-align: center;
	margin-top: 20px
}

.mn-tag {
	font-size: 11px;
	margin-top: 80px;
}

.up-tag {
	padding: 34px;
	float: left;
	width: auto;
	padding: 0 0 0 34px
}

.static-text {
	background-color: rgba(154, 157, 151, 0.4);
	color: #fff;
	display: inline-block;
	margin-top: 8px;

	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
	opacity: 1;
	padding: 1px 4px 1px 2px;
	transition: opacity 0.3s ease 0s;
}

.page-id-419 .page_heading .entry-header {
	position: static;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
	padding: 25px 0;
	background: #222
}

.page-id-419 .page_heading .entry-header h1 {
	color: #fff;
	font-weight: 700;
	text-align: center;
	position: relative;
	margin-bottom: 60px;
	margin-top: 0;
	font-size: 36px;
}

.page-id-419 .page_heading .entry-header h1:before {
	margin: auto auto 10px;
	width: 130px;
	display: block;
	background: #e74c3c;
	height: 5px;
	content: "";
}

.tag .reslt {

	font-family: Raleway;
}

#search-word {
	font-size: 2rem;
	font-family: Raleway;
}

.tag .reslt #f-res {
	letter-spacing: 1px;
	text-decoration: underline;
}

.tag .nav-links a .next {
	background-color: rgba(179, 179, 179, 0.8);
	cursor: pointer;
	float: right;
	padding: 10px 28px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

.update_contnt p a {
	color: #707070;
}

.update_contnt p a:hover {
	color: #000;
}

.tag .pagination-button {
	background-color: rgba(179, 179, 179, 0.8);
	cursor: pointer;
	float: right;
	padding: 10px 28px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

/*==========================category=================
===========================================================*/
#category {
	background-color: #f6f6f6;
}

/*====================blog-detail====================
===============================================================*/
#blog-detail ul li {
	list-style: disc;
	font-size: 16px;
	margin-bottom: 3px;
	color: #000 !important;
}

#blog-detail {
	background-color: #f6f6f6;
}

#blog-detail .row {
	margin-top: 35px;
}

#blog-detail .col-md-8 {
	background-color: #fff;
	text-align: left;
}

#blog-detail .col-md-8 h3 {
	font-size: 28px;
	text-align: left;
	margin-top: 15px;
}

#blog-detail .col-md-8 .date-title {
	font-size: 16px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 20px;
}

#blog-detail .col-md-8 p {
	font-size: 16px;
	color: #000;
	text-align: left;
	margin-top: 0px;
	font-family: 'montserratlight';
}

#blog-detail .col-md-8 form#commentform textarea,
#blog-detail .col-md-8 form#commentform .comment-form-url input {
	width: 100%;
	border: 1px solid #a0a0a0;
	box-shadow: none;
	resize: none;
	padding: 8px;
}

#blog-detail .col-md-8 form#commentform input {
	border: 1px solid #a0a0a0;
	box-shadow: none;
}

#blog-detail .col-md-8 form#commentform .comment-form-author {
	width: 50%;
	float: left;
}

#blog-detail .col-md-8 form#commentform .comment-form-email {
	width: 50%;
	float: right;
	text-align: right;
}

#blog-detail .col-md-8 form#commentform .comment-form-email label {
	text-align: left !important;
}

#blog-detail .col-md-8 form#commentform input#submit {
	float: right;
	background-color: #2e6da4;
	color: #fff;
	padding: 8px 12px;
	margin-bottom: 10px;
	border: none;
}

#blog-detail .col-md-8 form#commentform:after {
	content: '';
	display: block;
	clear: both;
}

/*#blog-detail #s-share-buttons{ display:none;}*/
#blog-detail .follow-share .sub-link a {
	color: #000;
}

#blog-detail .follow-share .s-link .share-button {
	/*float: left; */
	line-height: 31px;
	display: none;
	position: absolute;
	width: 132px;
	top: 0px !important;
	right: 100%;
}

#blog-detail .follow-share .s-link:hover .share-button {
	display: block;
}

#blog-detail .follow-share .s-link:hover .share-button .wabtn_container {
	display: none;
}

#blog-detail .follow-share .s-link #s-share-buttons.s-share-w-c a {
	background: none;
}

#blog-detail .follow-share .s-link #s-share-buttons.s-share-w-c a.s3-facebook:before {
	content: '\f09a';
	display: inline-block;
	color: #000;
	font-family: 'FontAwesome';
}

#blog-detail .follow-share .s-link #s-share-buttons.s-share-w-c a.s3-twitter:before {
	content: '\f099';
	display: inline-block;
	color: #000;
	font-family: 'FontAwesome';
}

#blog-detail .follow-share .s-link #s-share-buttons.s-share-w-c a.s3-google-plus:before {
	content: '\f0d5';
	display: inline-block;
	color: #000;
	font-family: 'FontAwesome';
}

#blog-detail .follow-share .s-link #s-share-buttons.s-share-w-c a.s3-linkedin:before {
	content: '\f0e1';
	display: inline-block;
	color: #000;
	font-family: 'FontAwesome';
}

#blog-detail .follow-share .s-link:after {
	content: '';
	clear: both;
	display: block;
}

#blog-detail .follow-share a {
	display: inline-block;
}

#blog-detail .follow-share .sub-link {
	float: left;
}

#blog-detail .follow-share .s-link,
#blog-detail .follow-share .hover-link {
	float: right;
}

#blog-detail .follow-share .s-link {
	position: relative;
	margin-bottom: 10px;
}

#blog-detail .col-md-4 h2 {
    color: #333333;
    font-size: 18px;
    font-family: 'montserratsemi_bold';
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    padding-left: 12px;
}

/*#blog-detail .col-sm-3 h2:after, #blog-detail .col-sm-3 h2:before{ content:''; background-color:#d3d3d3; display:inline-block; height:5px; width:60px;}*/


#blog-detail .col-md-4 h2:before {
	margin-right: 10px;
}

#blog-detail .col-md-4 ul li span.rpwwt-post-title {
	text-align: left;
	display: block;
	color: #000;
	font-size: 14px;
}

#blog-detail .col-md-4 ul li div.rpwwt-post-date {
	text-align: left;
	color: #444;
	font-size: 12px;
	font-family: 'montserratlight';
}

#blog-detail #recentcomments li {
	text-align: left;
}

#blog-detail #recentcomments li,
#blog-detail #recentcomments li span,
#blog-detail #recentcomments li a {
	font-family: 'montserratlight';
	font-size: 14px;
	color: #000;
}

#blog-detail #categories-4 ul li,
#blog-detail #categories-4 ul li a,
#blog-detail #recent-posts-2 ul li,
#blog-detail #recent-posts-3 ul li a {
	font-family: 'montserratlight';
	font-size: 14px;
	color: #000;
	text-align: left;
}

#blog-detail .col-md-4 ul li {
	padding: 8px 0px;
	border-bottom: 1px solid #efefef;
}

#blog-detail #comments ol li footer {
	background-color: transparent;
}

#blog-detail #comments ol li footer.comment-meta:after {
	content: '';
	display: block;
	clear: both;
}

#blog-detail #comments ol li footer.comment-meta .comment-author {
	float: left;
	color: #000;
	width: 30%;
}

#blog-detail #comments ol li footer.comment-meta .comment-metadata {
	float: left;
	margin-top: 10px;
	width: 70%;
	text-align: left;
	font-family: 'montserratregular';
}

#blog-detail #comments ol li footer.comment-meta .comment-metadata a {
	color: #000;
}

#blog-detail #comments ol li .comment-content {
	width: 70%;
	float: right;
	text-align: left;
}

#blog-detail #comments ol li .reply {
	text-align: right;
}

#blog-detail #comments ol li .reply a {
	color: #000;
}

/*===================contctus============================
===================================================================*/
#contctus input {
	width: 100%;
	background-color: transparent;
	margin-bottom: 10px;
	border: 1px solid #a0a0a0
}

#contctus textarea {
	width: 100%;
	background-color: transparent;
	border: 1px solid #a0a0a0;
	padding: 8px;
	resize: none;
	display: block;
}

#contctus input.wpcf7-submit {
	display: inline-block;
	float: right;
	width: auto;
	padding: 8px 40px;
	background-color: #2e6da4;
	border: none;
	color: #fff;
}

#contctus #s-share-buttons {
	display: none;
}

#contctus .col-md-4 strong {
	font-size: 18px;
	margin-bottom: 10px;
	display: block;
}

header.entry-header {
	margin-top: 20px;
}

header.entry-header h1 {
	color: #025a94;
}

#contctus .add-box {
	box-sizing: border-box;
	outline: medium none;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17.1429px;
	visibility: visible;
	background-color: #fff;
	animation-name: bounceInDown;
	padding: 20px;
}

#contctus .add-box p {
	margin: 0px;
}

#contctus #wpcf7-f65-p27-o1 {
	margin-top: 20px;
}

#contctus .wpcf7-form:after {
	content: '';
	clear: both;
	display: block;
}

div.wpcf7-mail-sent-ng {
	border: none;
	color: red;
}

#contctus iframe {
	margin-top: 20px;
	margin-bottom: 20px;
}

#contctus .contact_form span {
	position: relative;
	display: block;
}

#contctus .contact_form span:before {
	display: inline-block;
	font-size: 18px;
	font-family: 'FontAwesome';
	position: absolute;
	top: 6px;
	left: 10px;
	color: #b9b9b9;
}

#contctus .contact_form span.your-name:before {
	content: '\f007';
}

#contctus .contact_form span.your-email:before {
	content: '\f0e0';
}

#contctus .contact_form span.tel:before {
	content: '\f095';
}

#contctus .contact_form span.your-message:before {
	content: '\f0e0';
	vertical-align: top;
}

#contctus .contact_form span.your-message {
	vertical-align: top;
}

#contctus .contact_form span input,
#contctus .contact_form span textarea {
	padding-left: 32px;
}

#contctus .contact_form textarea {
	margin-bottom: 10px;
}

#contctus .contact_form .col-sm-2 .b-captcha {
	padding: 7px 10px;
	border: 1px solid #a0a0a0;
}

#contctus .contact_form .col-sm-6 {
	text-align: left;
}

#contctus .contact_form .col-sm-6 input {
	width: 50%;
}

#contctus .add-box {
	min-height: 170px;
	margin-bottom: 20px;
}