@charset "utf-8";
/* CSS Document */
@import url('fonts.css');
.homebg{ background:#f6f6f6; padding:30px 0}
a:hover, a:focus{ text-decoration:none !important;}
a.skip-link{ display:none;}
/* header
===============================================================================================================*/
button#menu-toggle{ display:none;}
header .hedr-2{ background-color:#fff;}
header .hedr-2 ul#menu-header-menu{ margin-bottom:0px; margin-top:10px;}
header .hedr-2 ul#menu-header-menu li{ display:inline-block; margin-left:20px;}
header h1{ margin:0px;}
header .hedr-2{/* background-color:#a9d300 ; margin:15px 0px 0 0;*/ padding:10px 0px; border-bottom:1px solid #bababa;}
header .hedr-2 ul#menu-header-menu li a{ color:#000;   font-family: 'montserratregular'; font-size:16px;}
header .hedr-2 ul#menu-header-menu li a:hover{ color:#025a94}
header .hder{ background-color:#000; padding:10px 0px;}
header .hder ul.icons-medium{ margin:0px;}
header .hder ul.icons-medium li{ margin-bottom:0px;}
header .hder ul.icons-medium li img{ height:24px; width:24px;}
header .hder a { color:#fff;
	height: 24px;
	width:24px;
	position:relative;
	display:inline-block;
	line-height:24px;
	text-align:center;
	margin-left:6px;
}
header .hder a:hover {
	color:#000;
}
header .hder a:before{ position:relative; z-index:1}
header .hder a:after {
	content: " ";
	transition: all 255ms ease-in;
	-moz-transition: all 255ms ease-in;
	-webkit-transition: all 255ms ease-in;
	transform: scale3d(0, 0, 0);
	-webkit-transform: scale3d(0, 0, 0);
	width: 100%;
	height: 100%;
	position:absolute;
	left:0;
	top:0;
	background-color: #fff;
	opacity: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius:  50%;
	border-radius:  50%;
}
header .hder a:hover:after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}
header .site-branding p, header .site-branding h1{ margin:0; line-height:30px}
/* slider
========================================================================================================*/
/*#primary .slider cat-2, #primary .slider cat-3, #primary .slider cat-4{ float:left; width:33.3333%%;}*/

.slider .slide-img{ float:left; width:25%;}
.slider img{ min-height:400px;}
.slider .cat-2{ background-image:url(../images/imge-03.jpg); background-repeat:no-repeat;}
.slider .cat-3{ background-image:url(../images/imge-02.jpg); background-repeat:no-repeat;}
.slider .cat-4{ background-image:url(../images/imge-01.jpg); background-repeat:no-repeat;}
.slider .cat-6{ background-image:url(../images/imge-01.jpg); background-repeat:no-repeat;}
.slider .back{ background-color:rgba(0,0,0,0.5); height:350px; text-align:center;color:#fff; padding-top:45%;}
.slider .back h3{ margin-top:10px;}
.slider{ border:5px solid #424242;}
.slider .back img{ height: 40px;
    min-height: inherit;
    object-fit: cover;
    width: auto;}
.slider .back hgroup a{ color:#fff}
.slider .back hgroup {
  vertical-align: middle;
  -webkit-transform: translateY(0);
    transform: translateY(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
    -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.slider .back hgroup:hover{
-webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
/* grid
========================================================================================================*/
.grid-section ul li a.btn{ -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
.grid-section{ margin:50px 0}
.grid-section:after, .mosaicflow__item figure figcaption:after, footer .site-info:after{ clear:both; display:block; content:""}
.mosaicflow__column {
	float:left;
	}

.mosaicflow__item {
	position:relative;
	}
	.mosaicflow__item img {
		display:block;
		width:100%;
		height:auto;
		}
.mosaicflow__item figure{ padding:15px}
.mosaicflow__item figure figcaption{ background:#fff; padding:25px; text-align:left; color:#666666 }
.mosaicflow__item figure figcaption .category{position:relative;font-family: 'montserratsemi_bold';}
.mosaicflow__item figure figcaption .category a{ color:#000}
.mosaicflow__item figure figcaption .category::after {
  background: #025a94;
  content: "";
  height: 4px;
  left: -26px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 20px;
}
.mosaicflow__item figure figcaption h4 a{ font-family: 'montserratbold'; color:#025a94}
.mosaicflow__item figure figcaption .date {
  color: #888888;
  font-size: 12px;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.mosaicflow__item figure figcaption .follow-share .share-button .wabtn_container{ display:none;}
.mosaicflow__item figure figcaption a.btn-primary{ color:#fff}
.mosaicflow__item figure figcaption .follow-share .share-button{ display:none}
.mosaicflow__item figure figcaption .follow-share:hover .share-button{ display:inline-block; vertical-align: middle;}
.mosaicflow__item figure figcaption .follow-share #s-share-buttons.s-share-w-c a{ background:none; width:auto; height:auto; margin-left:5px}
.mosaicflow__item figure figcaption .follow-share #s-share-buttons.s-share-w-c a:before{font-family:'FontAwesome'; font-size:1em; color:#000;}
.mosaicflow__item figure figcaption .follow-share #s-share-buttons.s-share-w-c a:hover:before{color:#025a94;}
.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-facebook:before{content:"\f09a"}
.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-twitter:before{content:"\f099"}
.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-google-plus:before{content:"\f0d5"}
.mosaicflow__item figure figcaption .follow-share .s-share-w-c a.s3-linkedin:before{content:"\f0e1"}

.mosaicflow__item figure.grid-comment figcaption { background:#333; color:#fff}
.mosaicflow__item figure.grid-comment figcaption p{ font-size:20px;font-family: 'montserratsemi_bold'; font-style: italic; position:relative; padding-left:25px}
.mosaicflow__item figure.grid-comment figcaption p:before{ content:"\f10d";font-family:'FontAwesome'; font-size:1em; position:absolute; top:-8px; left:0}
.mosaicflow__item figure.grid-comment figcaption .cmnt-name{ float:left; position:relative; margin-top:20px; padding-left:30px; font-size:16px; font-style: italic}
.mosaicflow__item figure.grid-comment figcaption .cmnt-name::after {
  background: #ffaf22;
  content: "";
  height: 4px;
  left: -26px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 20px;
}

/* footer
========================================================================================================*/
footer{ background:#222; color:#fff;}
footer .newsletter .wysija-paragraph{ float:left; width:70%; text-align:left}
footer .newsletter .wysija-paragraph input{ color:#000;}
footer .newsletter input[type="submit"]{background-color: #337ab7;
border-color: #2e6da4;
color: #fff;
-moz-user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
cursor: pointer;
float:left;
font-size: 14px;
font-weight: 400;
line-height: 1.42857;
margin-bottom: 0;
padding: 8px 12px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
margin-top:0}
footer .social{ margin-top:30px; text-align:right}
footer .social a { color:#fff;
	height: 24px;
	width:24px;
	position:relative;
	display:inline-block;
	line-height:24px;
	text-align:center;
	margin-left:6px;
}
footer .social a:hover {
	color:#000;
}
footer .social a:before{ position:relative; z-index:1}
footer .social a:after {
	content: " ";
	transition: all 255ms ease-in;
	-moz-transition: all 255ms ease-in;
	-webkit-transition: all 255ms ease-in;
	transform: scale3d(0, 0, 0);
	-webkit-transform: scale3d(0, 0, 0);
	width: 100%;
	height: 100%;
	position:absolute;
	left:0;
	top:0;
	background-color: #fff;
	opacity: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius:  50%;
	border-radius:  50%;
}
footer .social a:hover:after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}
footer .site-info{ color:#aaa; font-size:12px; margin-top:5px; padding:10px; border-top:1px solid #111}
footer .site-info a{ color:#fff;}
footer .site-info a:hover{ color:#aaa}