
<style type="text/css">
	.modal-header .close {
    margin-top: -33px;
}
.modal-content{
	width: 137%;
}
</style>
 <table id="example1" class="table table-bordered table-striped">
            <tbody>
                <tr>
                   <?php echo $popupdata['format']; ?>
                  
                </tr>
            </tbody>
          </table>
