<script>
$(function() {
        $( "#datepicker6" ).datepicker({minDate:null});

});
</script>
<script>
$(function() {
        $( "#datepicker7" ).datepicker({minDate:null});

});
</script>
<?php 
$nm=$certi['s_name'];
$cid=$certi['course_id'];
$sid=$certi['s_id'];
$mob=$certi['s_contact'];
?>
<script>          
              $(document).ready(function () { 
                $("#course").on("change", function (event) {
              var instid= $(this).val();
             
                  $.ajax({
                    async:true,
                    data:{'courseid':instid},
                    dataType:"html",
                    type:"POST",
             url:"<?php echo ADMIN_URL ;?>certificate/chk_inst/<?php echo $certi['s_id']; ?>",
            success:function (data) {
                    //  $('.lds-facebook').hide();   

                    if(data==1){

                        $("#sub_frm").removeAttr("disabled"); 
                    }else{
                      $("#srrc_new").html(data);
                    }
                     },
                    });
                  return false;
                });
              });
              </script>
<?php /*
$data = $this->Js->get('#course')->serializeForm(array('isForm' => true, 'inline' => true));
$this->Js->get('#course')->event(
    'change',
    $this->Js->request(
        array('action' => 'chk_inst/'.$certi['Student']['s_id'], 'controller' => 'certificate'),
        array(
            'update' => '#srrc_new',
//'before' => 'alert()',
//'complete' => 'endloading()',
            'data' => $data,
            'async' => true,   
            'dataExpression'=>true,
            'method' => 'POST'
        )
    )
);
echo $this->Js->writeBuffer(); */
?> 
<?php $studentfee=$depfee+$valuedi;
//$pendingfee=$stufee-$depfee; 
    //if($studentfee >= $stufee){
?>
<?php if($enr && $enrc )
{           
    echo "<div class='col-sm-2'><span style='color: red;
    
   display: block;'> This Enrollment is Already exit in Both.</span></div><div class='row'>"; ?>         
    
<div class="col-sm-3" >
     <label for="exampleInputEmail1">Student Name</label>
   <?php echo $this->Form->input('ctitle', array('class' => 
       'form-control','placeholder'=>'Enter Student Name','label'=>false,'value'=>$nm,'autocomplete'=>'off','required')); ?>
 <input type="hidden" name="s_id" value="<?php echo $sid;?>">  
</div>
<div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Mobile</label>
   <?php echo $this->Form->input('mobile', array('class' => 
       'form-control','placeholder'=>'Enter Mobile','onkeypress'=>'return isNumber(event);','label'=>false,'autocomplete'=>'off','required','value'=>$mob)); ?>
    </div>

    <div class="col-sm-2" >
     <label for="exampleInputEmail1">Select Course</label>
            <select name="course_id" required  class="form-control" id="course">
                <option value="">Select Course</option>
                <?php

                foreach($st_course as $sc){
                    echo "<option class='smallselect' value='".$sc['course']['id']."'>".$sc['course']['cname']."</option>";
                }
 ?>         
            </select> </div>     
       

      
        <div class="col-sm-2 srrc_news"  >
     <label for="exampleInputEmail1">Duration (From)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control"  required size="16" placeholder="Job Posting Date" type="date" name="pre_date" >  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>

    <div class="col-sm-2 srrc_news" >
     <label for="exampleInputEmail1">Duration (To)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" required size="16" placeholder="Job Posting Date" type="date" name="end_date" >  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>
   
    <div id="srrc_new">  </div>  
    <div class="box-footer">
    <div class="submit">
        
    <input type="submit" class="btn btn-info pull-right" disabled title="Add" id="sub_frm" value="Add">

</div></div>  
                        
                    <?php } elseif($enr) { 
                        
                        echo "<div class='col-sm-2'><span style='color: red;
                        
                       display: block;'>  Enrollment already exit in Student.</span></div><div class='row'>"; ?>
                        
                        
                      
<div class="col-sm-3" >
     <label for="exampleInputEmail1">Student Name</label>
   <?php echo $this->Form->input('ctitle', array('class' => 
       'form-control','placeholder'=>'Enter Student Name','label'=>false,'value'=>$nm,'autocomplete'=>'off','required')); ?>
 <input type="hidden" name="s_id" value="<?php echo $sid;?>">  
</div>
<div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Mobile</label>
   <?php echo $this->Form->input('mobile', array('class' => 
       'form-control','placeholder'=>'Enter Mobile','onkeypress'=>'return isNumber(event);','label'=>false,'autocomplete'=>'off','required','value'=>$mob)); ?>
    </div>

    <div class="col-sm-2" >
     <label for="exampleInputEmail1">Select Course</label>
            <select name="course_id" required  class="form-control" id="course">
                <option value="">Select Course</option>
                <?php

                foreach($st_course as $sc){
                    echo "<option class='smallselect' value='".$sc['course']['id']."'>".$sc['course']['cname']."</option>";
                }
 ?>         
            </select> </div>     
       

        
           
        <div class="col-sm-2 srrc_new"  >
     <label for="exampleInputEmail1">Duration (From)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" required size="16" placeholder="Job Posting Date" type="date" name="pre_date" >  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>

    <div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Duration (To)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" size="16" placeholder="Job Posting Date" type="date" name="end_date" required >  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>
  
    <div id="srrc_new">  </div> 
    <div class="box-footer">
    <div class="submit">
        
    <input type="submit" class="btn btn-info pull-right"  title="Add" id="sub_frm" value="Add">

</div></div>   
                                               
                                        <?php   } elseif($enrc) {
                                            
                                            
                                            echo "<div class='col-sm-2'><span style='color: red;
                                            display: block;'>  Enrollment already exit in Certificate.</span></div></div><div class='row'>"; ?>
                                            
                                            
                                                 
                        
                      
<div class="col-sm-3" >
     <label for="exampleInputEmail1">Student Name</label>
   <?php echo $this->Form->input('ctitle', array('class' => 
       'form-control','placeholder'=>'Enter Student Name','label'=>false,'value'=>$nm,'autocomplete'=>'off','required')); ?>
 <input type="hidden" name="s_id" value="<?php echo $sid;?>">  
</div>
<div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Mobile</label>
   <?php echo $this->Form->input('mobile', array('class' => 
       'form-control','placeholder'=>'Enter Mobile','onkeypress'=>'return isNumber(event);','label'=>false,'autocomplete'=>'off','required','value'=>$mob)); ?>
    </div>

    <div class="col-sm-2" >
     <label for="exampleInputEmail1">Select Course</label>
            <select name="course_id" required  class="form-control" id="course">
                <option value="">Select Course</option>
                <?php

                foreach($st_course as $sc){
                    echo "<option class='smallselect' value='".$sc['course']['id']."'>".$sc['course']['cname']."</option>";
                }
 ?>         
            </select>   </div>

      
   
        <div class="col-sm-2 srrc_new"  >
     <label for="exampleInputEmail1">Duration (From)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" size="16" placeholder="Job Posting Date" type="date" name="pre_date" required>  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>

    <div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Duration (To)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" size="16" placeholder="Job Posting Date" type="date" name="end_date" required>  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>
    <div id="srrc_new">  </div> 
    <div class="box-footer">
    <div class="submit">
        
    <input type="submit" class="btn btn-info pull-right" disabled title="Add" id="sub_frm" value="Add">

</div></div>  
     <?php }else{ 

         echo "<div class='col-sm-2'><span style='color: red; display: block;'> Enrollment does not exit in Both.</span></div><div class='row'>"; ?>
                                            
                       
<div class="col-sm-3" >
     <label for="exampleInputEmail1">Student Name</label>
   <?php echo $this->Form->input('ctitle', array('class' => 
       'form-control','placeholder'=>'Enter Student Name','label'=>false,'value'=>$nm,'autocomplete'=>'off','required')); ?>
 <input type="hidden" name="s_id" value="<?php echo $sid;?>">  
</div>
<div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Mobile</label>
   <?php echo $this->Form->input('mobile', array('class' => 
       'form-control','placeholder'=>'Enter Mobile','onkeypress'=>'return isNumber(event);','label'=>false,'autocomplete'=>'off','required','value'=>$mob)); ?>
    </div>

    <div class="col-sm-2" >
     <label for="exampleInputEmail1">Select Course</label>
            <select name="course_id" required  class="form-control" id="course">
                <option value="">Select Course</option>
                <?php

                foreach($st_course as $sc){
                    echo "<option class='smallselect' value='".$sc['course']['id']."'>".$sc['course']['cname']."</option>";
                }
 ?>         
            </select>  </div>

      
             
        <div class="col-sm-2 srrc_new"  >
     <label for="exampleInputEmail1">Duration (From)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" size="16" placeholder="Job Posting Date" type="date" name="pre_date" required >  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>

    <div class="col-sm-2 srrc_new" >
     <label for="exampleInputEmail1">Duration (To)</label>
     <div class="input-append date" id="datepickerbrth" data-date="" data-date-format="dd-mm-yyyy"> 
							
              <input class="span2 form-control" size="16" placeholder="Job Posting Date" type="date" name="end_date" required>  <span class="add-on"><i class="icon-th"></i></span>
            
            </div>
    </div>  
    <div id="srrc_new">  </div> 
    <div class="box-footer" >
    <div class="submit">
        
    <input type="submit" class="btn btn-info pull-right" disabled title="Add" id="sub_frm" value="Add">

</div></div>                                               
                                                                
                <?php } ?>

<?php  //} else {
   // echo "<span style='color: red;

//display: block;'> The Certificate will not be Genrated due to Pending fees </span>";


  //  }?>