


<?php 
//$nm=$certi['Student']['s_name'];
//$cid=$certi['Student']['course_id'];
//$sid=$certi['Student']['s_id'];
$mob=$due_count['s_contact'];


?>

<?php 

$studentfee=$depfee+$valuedi;

if($studentfee < $stufee){
echo "<span style='color: red;
float: right;
margin-right: 25%;
margin-top: -51px;
display: block;'> Installment is not completed.... </span>";
    if($due_count > 0)
        {			
echo "<span style='color: red;
float: right;
margin-right: 25%;
margin-top: -51px;
display: block;'> Installment is not completed.... </span>"; ?>		

<?php } }else{ echo 1; die; }   ?>
