 @charset "utf-8";
	  /* CSS Document */
	  
	  @font-face {
 font-family: 'CenturyGothic';
 src: url('../fonts/CenturyGothic.eot?') format('eot'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'square721_bdex_btbold';
 src: url('../fonts/sqr721be-webfont.eot');
 src: url('../fonts/sqr721be-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sqr721be-webfont.woff') format('woff'), url('../fonts/sqr721be-webfont.ttf') format('truetype'), url('../fonts/sqr721be-webfont.svg#square721_bdex_btbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
/*----bootstrap----css----new---css----hanish-----*/
	  .owl-buttons {
	position: absolute;
	right: 0;
	top: -85px;
}
.pop_corse .owl-controls.clickable .owl-buttons .owl-prev {
	background: rgba(0, 0, 0, 0) url("../images/adword/navi.png") no-repeat scroll -2px -2px;
	display:inline-block;
	border-radius: 0;
	font-size: 0;
	height: 27px;
	margin-right:10px;
	width: 31px;
}
.pop_corse  .owl-controls.clickable .owl-buttons .owl-prev:hover {
	background: rgba(0, 0, 0, 0) url("../images/adword/navi.png") no-repeat scroll -2px -33px;
}
.pop_corse  .owl-controls.clickable .owl-buttons .owl-next:hover {
	background: rgba(0, 0, 0, 0) url("../images/adword/navi.png") no-repeat scroll -42px -33px;
}
.pop_corse  .owl-controls.clickable .owl-buttons .owl-next {
	background: rgba(0, 0, 0, 0) url("../images/adword/navi.png") no-repeat scroll -42px -2px;
	border-radius: 0;
	display:inline-block;
	font-size: 0;
	height: 27px;
	width: 31px;
}
.heading {
	font-family: 'CenturyGothic';
	color:#100e0e;
	font-size:35px;
	position:relative;
	display:inline-block;
	margin:0 0 5%;
}
.heading:after {
	border: 3px solid #ffaf22;
	bottom: -25px;
	content: "";
	height: 4px;
	left: 40%;
	position: absolute;
	width: 60px;
	border-radius: 100px;
}
.mast-header:after, .pop_corse:after {
	clear:both;
	display:block;
	content:'';
}
#slider {
	background:url(../images/adword/big-bg.jpg) no-repeat center center fixed;
	height:600px;
	width:100%;
	padding:3% 0;
	background-size:cover
}
.enqform {
	max-width:400px;
	margin:auto;
  position:fixed;
top:26%;
right:5%;
z-index:9;
	background:rgba(0, 0, 0, 0.9);
	padding:2%;
	border-radius:10px;
}
.enqform h2 {
	font-size:26px;
	font-family: 'CenturyGothic';
	color:#fff;
	margin:0;
}
.enqform span {
	display:block;
	width:100%;
	text-align:left;
	width:100%;
	margin:0 0 8px
}
.enqform { /*contact form wrapper*/
    max-width: 300px;
    padding:6px 8px 10px;
    border: 1px solid #ddd;
    right: 10px;
    position: fixed; /*Form position fixed*/
    }
.enqform .contact-opener { /*opener button*/
background: #ffaf22 none repeat scroll 0 0;
border-radius: 5px 5px 0 0;
color: #000;
cursor: pointer;
font-size: 16px;
font-weight: bold;
height: 80px;
left: -95px;
position: absolute;
top: 100px;
transform: rotate(-90deg);
width: 113px;
}
.enqform span label {
	display:block;
	color:#ffaf22;
	font-size:16px;
	font-weight:normal;
}
.enqform span input, .enqform span select {
	width:100%;
	background:none;
	border:1px solid #fff;
	height:32px;
	border-radius:4px;
	color:#fff;
	padding:5px
}
.enqform button , .enqform input[type="submit"]{
	border-radius:4px;
	background-color:transparent;
	border:1px solid #fff;
	font-size:16px;
	padding:5px 15px;
	color:#fff;
	margin:10px	 0 15px
}
.enqform span select {
	width:100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent url(../images/adword/down.png) no-repeat right 15px center;
	width:100%;
}

.enqform span option
        {
            background:#000!important;
        }
.enqform span select option{background:rgba(0,0,0.0.9)}
.enqform button:hover , .enqform input[type="submit"]:hover{
	background:#fff;
	color:#ffaf22
}
.lg-no {
	margin: 30px 0 0;
	padding: 10px 0;
}
/*-Degree-Courses--*/
	  .dg-corse {
	background:#f8f8f8;
	padding:3% 0;
	text-align:center;
}
.dg-corse .col-sm-4 .circle span {
	background-color:#10c45c;
	height:140px;
	width:140px;
	border-radius:100px;
	border:1px solid #fff;
	box-shadow:0 0 0 0 #000;
	display:block;
	text-align:center;
	margin:auto auto 15px;
	-webkit-box-shadow:0px 0px 0px 6px #10c45c;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:0px 0px 0px 6px #10c45c;  /* Firefox 3.5 - 3.6 */
	box-shadow:0px 0px 0px 6px #10c45c;
}
.dg-corse .col-sm-4 .circle.co1:hover span b {
	background-position:-194px 0px;
}
.dg-corse .col-sm-4 .circle.co1:hover span {
	background-color:#fff;
}
.dg-corse .col-sm-4 .circle.c2:hover span b {
	background-position:-292px 0px;
}
.dg-corse .col-sm-4 .circle.c2:hover span {
	background-color:#fff;
}
.dg-corse .col-sm-4 .circle.c1.co3:hover span b {
	background-position:-3px -68px;
}
.dg-corse .col-sm-4 .circle.c1.co3.pg span b{background-position:-98px 0;}
.dg-corse .col-sm-4 .circle.c1.co3.pg:hover span b{background-position:-105px -64px;}
.dg-corse .col-sm-4 .circle.c1.co3:hover span {
	background-color:#fff;
}
.dg-corse .col-sm-4 .circle.c1.co3 span {
	-webkit-box-shadow:0px 0px 0px 6px #24ccc0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:0px 0px 0px 6px #24ccc0;  /* Firefox 3.5 - 3.6 */
	box-shadow:0px 0px 0px 6px #24ccc0;
	background-color:#24ccc0
}



.dg-corse .col-sm-4 .circle.c2.co5 span b {
	background-position:-3px -0px;
}
.dg-corse .col-sm-4 .circle.c2.co5:hover span b {
	background-position:-192px -69px;
}
.dg-corse .col-sm-4 .circle.c2.co5.pg span b{background-position:-98px 0;}
.dg-corse .col-sm-4 .circle.c2.co5.pg:hover span b{background-position:-289px -64px;}
.dg-corse .col-sm-4 .circle.c2.co5:hover span {
	background-color:#fff;
}
.dg-corse .col-sm-4 .circle.c2.co5 span {
	-webkit-box-shadow:0px 0px 0px 6px #f8c331;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:0px 0px 0px 6px #f8c331;  /* Firefox 3.5 - 3.6 */
	box-shadow:0px 0px 0px 6px #f8c331;
	background-color:#f8c331
}
.dg-corse .col-sm-4 .circle span b {
	background:url(../images/adword/dg.png) no-repeat;
	height:57px;
	width:82px;
	margin: 26px auto auto;
	background-position: -3px 0px;
	display:block;
	line-height:135px;
}
.dg-corse .col-sm-4 .circle.c2 span b {
	background-position:-98px 0px;
}
.circle .c1 {
}
.circle h5 {
	font-size:25px;
	color:#696767;
	font-family: 'CenturyGothic';
	display:block;
}
/*----*/
	  .pop_corse, .why {
	padding:3% 0;
	background:#fff;
}
.pop_corse .owlone.owl-carousel .owl-wrapper-outer{ max-width:1170px; overflow:hidden;}
.pop_corse .owlone.owl-carousel .owl-item img{ padding:0 10px}
.why {
	background:#f8f8f8;
}
.why .box {
	background:#fff;
	padding:25px 10px;
	border-right:2px solid #000;
	min-height:125px;
}
.why .box .col-sm-5 span {

	background: rgba(0, 0, 0, 0) url("../images/adword/icons.png") no-repeat scroll -1px 8px;
	display: block;
	height: 65px;
	width: 70px;
}
.why .box .col-sm-6 h5 {
	font-size:26px;
	color:#696767;
	font-family: 'CenturyGothic';
}
.why .box:hover .col-sm-6 h5 {
	color:#fff;
}
.why .box.box1 {
	border-color:#10c45c
}
.why .box.box1:hover {
	background-color:#10c45c;
	color:#fff
}
.why .box.box1:hover .col-sm-5 span {
	background-position:-1px -120px;
	height: 65px;
	width: 70px;
}
.why .box.box2 {
	border-color:#fc5f42
}
.why .box.box2 .col-sm-5 span {
	background-position:-86px 8px;
}
.why .box.box2:hover {
	background-color:#fc5f42
}
.why .box.box2:hover .col-sm-5 span {
	background-position:-86px -120px;
	height: 65px;
	width: 70px;
}
.why .box.box3 {
	border-color:#24ccc0
}
.why .box.box3 .col-sm-5 span {
	background-position:-166px 8px;
}
.why .box.box3:hover {
	background-color:#24ccc0
}
.why .box.box3:hover .col-sm-5 span {
	background-position:-166px -120px;
	height: 65px;
	width: 70px;
}
.why .box.box4 {
	border-color:#45aef4
}
.why .box.box4 .col-sm-5 span {
	background-position:-245px 0px;
}
.why .box.box4:hover {
	background-color:#45aef4
}
.why .box.box4:hover .col-sm-5 span {
	background-position:-245px -130px;
	height: 65px;
	width: 70px;
}
.why .box.box5 {
	border-color:#f8c331
}
.why .box.box5 .col-sm-5 span {
	background-position: -8px -64px;
}
.why .box.box5:hover {
	background-color:#f8c331
}
.why .box.box5:hover .col-sm-5 span {
	background-position:-8px -188px;
	height: 65px;
	width: 70px;
}
.why .box.box6 {
	border-color:#ad33c6
}
.why .box.box6 .col-sm-5 span {
	background-position: -84px -64px;
}
.why .box.box6:hover {
	background-color:#ad33c6
}
.why .box.box6:hover .col-sm-5 span {
	background-position:-84px -186px;
	height: 65px;
	width: 70px;
}
/*------Our---Recitures------*/
	  .comp {
	background:#fff;
	padding:3% 0;
}
.comp .owl-carousel .owl-item .article img {
	min-height:100px !important;
	max-width:200px !important;
	max-height:100px !important;
}


.smessge
{
color:#fff;
padding:5px;
border:1px dashed #fff;
font-size:12px;
text-align:center;
display:block;

}

