<div class="col-md-4"></div>
<div class="col-sm-4">
    <?php if($newresponse['s_id']==""){ 
    	echo "<span style='color: red'> This Enrollment Number  Not Found ..</span>";
	 die;
     } ?>
							<label for="inputEmail3" class="control-label">Select Branch <strong style="color:red;">*</strong></label>

								<?php echo $this->Form->input('branch', array('class' =>'form-control','id'=>'brnch','label'=>false,'options'=>$brn,'empty'=>'--Select Branch--','default'=>$newresponse['branch_id'],'required','autofocus')); ?>  
	</div>
							
				<div class="col-sm-4">
		<label for="inputEmail3" class="control-label">Student Name <strong style="color:red;">*</strong></label>

	
	  <input type="hidden" name="s_id" value="<?php echo $newresponse['s_id']; ?>">


		<?php echo $this->Form->input('s_name', array('class' => 'form-control','required','label'=>false,'placeholder'=>'Student Name','value'=>$newresponse['s_name'],'autofocus','autocomplete'=>'off')); ?>   
				
							</div>
							<div class="col-sm-4">
								<label for="inputEmail3" class="control-label">Mobile <strong style="color:red;">*</strong></label>
								<?php echo $this->Form->input('s_contact', array('class' => 'form-control','required','label'=>false,'placeholder'=>'Enter Valid Mobile number ex.9811111111','autocomplete'=>'off','type'=>'text','pattern'=>'^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$','value'=>$newresponse['s_contact'])); ?>   
							
                   
							</div>
							<div class="col-sm-4">
								<label for="inputEmail3" class="control-label">Email <strong style="color:red;">*</strong></label>
								<div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                <?php echo $this->Form->input('s_email', array('class' => 'form-control','required','label'=>false,'placeholder'=>'Email','autocomplete'=>'off','type'=>'text','value'=>$newresponse['s_email'])); ?>
							</div>
							</div>
						
							<div class="col-sm-4">
								<label for="inputEmail3" class="control-label">Father's Name <strong style="color:red;">*</strong></label>
                                <?php echo $this->Form->input('f_name', array('class' => 'form-control','required','label'=>false,'placeholder'=>'Fathers Name','autocomplete'=>'off','type'=>'text','value'=>$newresponse['f_name'])); ?>
							</div>
							

							</div>