

<div class="col-sm-12 align-self-center" >
<strong>Name :</strong>
<?php echo $this->Form->input('name', array('label'=>false,'class' => 'form-control','readonly', 'value'=> $name,'required')); ?>

  </div>

  <div class="col-sm-12 align-self-center" >
<strong>Course :</strong><br>
<?php
              $course_count=0;
        if(count($stcrs)>0){ //pr($inst);?>
  <?php foreach($stcrs as $key=>$value) {  // pr($value); die; ?>

    <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="course_id" id="chk<?php echo $key; ?>" value="<?php echo $value['course_id']; ?>" <?php if(in_array($value['course_id'],$cid)){ echo "disabled"; $course_count++; } ?>
 <?php $is_all_paid=$this->Comman->all_paid($value['s_id'],$value['inst_id']);
if($is_all_paid==0){ echo 'disabled'; } ?>>
  <label class="form-check-label" for="chk<?php echo $key; ?>"><?php  echo $value['course']['sname']."(Rs.".number_format($value['fee']).")  "; ?></label>
</div>

  <?php } ?>
  <?php } else { ?>
  No Course Avialable for This Enroll No.
  <?php } ?>

  </div>

  <div class="col-sm-12 align-self-center" >
 
  <strong>Discount</strong>
 
  <input type="text" name="discount" required="required" class="form-control" onkeyup="calculate();" onkeypress="return isNumber1(event);">
  <span id="per"></span></span></div>

  <div class="col-sm-12 align-self-center" style="display:none;"  id="afd">

  <strong>After Discount Fee</strong><br>


  <span class="field" id="afdval"> </span> </p>
<p>
  <label>&nbsp;</label>
  
  <div class="modal-footer box footer">
     
  <?php if($course_count!=count($stcrs) && $is_all_paid!=0) { ?>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <?php echo $this->Form->submit('Submit',array('class' => 'btn btn-success')); ?>
  
  <?php  } else{ ?>
    <span class="field" style="color:red;">
    <?php
        echo "All courses of this enrollment are already discounted or <br>All installments are already paid"; ?></span>
                <?php } ?>    </div>
<p style="display:none;">
  <?php foreach($stcrs as $key=>$value){ ?>
  <label id="crs<?php echo $value['course_id']; ?>"><?php echo $value['fee'];?></label>
  <?php } ?>
</p>
<?php //echo $this->Form->end();?>
<script>
function isNumber1(evt) {
evt = (evt) ? evt : window.event;
var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 46 || charCode > 57 || charCode == 47)) {
alert("Please insert only numbers");
return false;
}
return true;

}
$('[name="dtype"]').change(function(){
if($('[name="discount"]').val()!=""){
	var id=$('[name="course_id"]:checked').val();
	
	var type=$('[name="dtype"]:checked').val();
	var fee=parseInt($('#crs'+id).html());
	var dis=parseInt($('[name="discount"]').val());
	adis=0;
	
	var adis=0;
	if(type=='1'){
		adis=fee-dis;
	}else{
		adis=fee-((fee*dis)/100);
	}
	$('#afdval').html('Rs.'+adis);
	$('#afd').show();
}else{
	$('#afd').hide();
}
	
	});
function calculate(){
	if($('[name="discount"]').val()!=""){
	var id=$('[name="course_id"]:checked').val();
	
	var type=$('[name="dtype"]:checked').val();
	var fee=parseInt($('#crs'+id).html());
	var dis=parseInt($('[name="discount"]').val());
	adis=0;
	
	var adis=0;
	if(type=='1'){
		adis=fee-dis;
	}else{
		adis=fee-((fee*dis)/100);
	}
	$('#afdval').html('Rs.'+adis);
	$('#afd').show();
}else{
	$('#afd').hide();
}
	
}
</script> 
