<style type="text/css">
   th{
text-align: center;
   }
   td{
    text-align: center;

   }


   .action_icon a span {
    font-size: 14px !important;
}
 .action_icon a {
    font-size: 13px !important;
}
.action_icon b i {
    font-size: 13px !important;
}

.action_icon a {
    display: inline-block;
    width: 21px;
    text-align: center;
}
 </style>
 <div class="content-wrapper">
   <section class="content-header">
    <h1>
         Students Detail
    </h1>
    <ol class="breadcrumb">
    <li><a href="<?php echo SITE_URL; ?>admin/dashboards"><i class="fa fa-home"></i>Home</a></li>
<li><a href="<?php echo SITE_URL; ?>admin/student">Student List</a></li>
    </ol> 
    </section> <!-- content header -->

    <!-- Main content -->
    <section class="content">
  <div class="row">
    <div class="col-xs-12">    
  <div class="box">
    <div class="box-header">
  <?php echo $this->Flash->render(); ?>


  <?php $role_id=$this->request->session()->read('Auth.User.role_id'); ?>
            <script>          
              $(document).ready(function () { 
                $(".Stsearchs").bind("change", function (event) {
                 $('.lds-facebook').show();
                  $.ajax({
                    async:true,
                    data:$("#Stsearch").serialize(),
                    dataType:"html",
                    type:"POST",
                    url:"<?php echo ADMIN_URL ;?>students/search",
                    success:function (data) {
                    $('.lds-facebook').hide();   
                      $("#Mycity").html(data); },
                    });
                  return false;
                });
              });


              $(document).ready(function () { 
                $(".branch").bind("change", function (event) {
               $('.lds-facebook').show();
                  $.ajax({
                    async:true,
                    data:$("#Stsearch").serialize(),
                    dataType:"html",
                    type:"POST",
                    url:"<?php echo ADMIN_URL ;?>students/search",
                    success:function (data) {
                  $('.lds-facebook').hide();   
                      $("#Mycity").html(data); },
                    });
                  return false;
                });
              });

              $(document).on('click', '.pagination a', function(e) {
                var target = $(this).attr('href');
                var res = target.replace("/students/search", "/students");
                window.location = res;
                return false;
              });
            </script>

           
            
            <div class="form-group studentDtlFrmGroup" >
            
            <div class="row">
           <div class="col-md-10">
             <?php echo $this->Form->create('Stsearch',array('type'=>'get','inputDefaults'=>array('div'=>false,'label'=>false),'id'=>'Stsearch','class'=>'form-horizontal','method'=>'POST')); ?>
             <div class="row">
           
            <?php if($this->request->session()->read("Auth.User.role_id")==1){  ?>
              <div class="col-sm-2">
             
                <?php echo $this->Form->input('branch_id', array('class' => 
                'form-control Stsearchs','id'=>'branch_id','label'=>false,'options'=>$brn,'empty'=>'--Select Branch--','autofocus')); ?>
              </div>
              <?php } ?>
              <div class="col-sm-2">
                
<?php echo $this->Form->input('b_id', array('class' =>'form-control Stsearchs','id'=>'b_id','label'=>false,'options'=>$btch,'empty'=>'--Select Batch--','autofocus')); ?>
              </div>

               <div class="col-sm-2">
              
                <?php echo $this->Form->input('name',array('class'=>'form-control branch','label' =>false,'placeholder'=>'Name','autocomplete'=>'off')); ?>  
              </div> 
              <div class="col-sm-2">
                
                <?php echo $this->Form->input('enrolment',array('class'=>'form-control branch','label' =>false,'placeholder'=>'Enrollment','autocomplete'=>'off')); ?>  
              </div> 
<?php  $stdstatus=array('0'=>'All','active'=>'Active','drop'=>'Dropped','transferred'=>'Transferred','placed'=>'Placed','not_placed'=>'Not Placed','cert_generated'=>'Certificate Generated','cert_pending'=>'Certificate Pending','new_reg'=>'Registrations','new_deg'=>'Degree Registrations','referred'=>'Referred','discount'=>'Discounted','complete'=>'Completed','mobile_app'=>'Mobile APP','birthday'=>'Birthday'); 
?>
<div class="col-sm-2">
          
                <?php echo $this->Form->input('status', array('class' => 
                'form-control Stsearchs','id'=>'cate','label'=>false,'options'=>$stdstatus,'empty'=>'--Select Status--','autofocus')); ?>
              </div>

              <div class="col-sm-2">
                
                <?php echo $this->Form->input('crse', array('class' => 
                'form-control Stsearchs','label'=>false,'options'=>$course,'empty'=>'--Select Course--','autofocus')); ?>
              </div>

            </div>
        



<style>
        .addnn , .addnn:hover{ height:55px; width: 55px; border-radius: 50%; background-color: #2d95e3; line-height: 15px; font-size: 14px !important; text-align: center; color: #fff; display: inline-block; text-decoration: none;}
        .addnn i{ font-size:18px; color:#fff; margin-top:10px;}
        .studentDtlFrmGroup .row{ display:flex; flex-wrap:wrap; width:100%;}
        .studentDtlFrmGroup .row>.col-md-10, .studentDtlFrmGroup .row>.col-md-2{ align-self:center !important;}
        .studentDtlFrmGroup .row>.col-md-10 form{ margin-bottom:0px !important;}

        .btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover{ animation-name: none !important;}
    </style>

            
              
<?php if($this->request->session()->read("Auth.User.role_id")==4){  
  $branchID = $this->request->session()->read("Auth.User.branch");
 echo $this->Form->input('branch_id', array('class' => 'smallselect branch','type' => 'hidden','value'=>$branchID));
}

 ?>
   <?php /*          
              <div class="col-sm-1">
                <label for="inputEmail3" class="control-label" style="color:white">Reset</label>
                <input type="reset" style="background-color:#d33c44;color:#fff;"  class="btn btn-success" value="Reset">       
              </div> 
              <div class="col-sm-1" style="margin-left: -40px;">
                <label for="inputEmail3" class="control-label" style="color:white">Search</label>
                <input type="submit" style="background-color:green;color:#fff;" id="Mysubscriptions" class="btn btn-success" value="Search">       
              </div> */ ?>
              
              <?php echo $this->Form->end(); ?> 
</div>
              <div class="col-md-2">
  
              <ul class="list-inline w-75 m-auto text-center d-flex justify-content-around">
    <li class="list-inline-item">

<a class="addnn" href="<?php echo ADMIN_URL; ?>students/add"><i class="fa fa-user-plus" aria-hidden="true"></i><br>New</a></li>

<li class="list-inline-item">
<a class="addnn" href="<?php echo ADMIN_URL; ?>students/exist"><i class="fa fa-user-plus" aria-hidden="true"></i>
 <br> Exist</a>
</li>


            </ul>
            </div>  
</div> 

   
     </div><!-- /.box-header -->
     
      <div class="box-body" id="Mycity"> 
          
             

      <table class="table table-bordered table-striped afTblStndRept" width="100%">
               
                    <thead class="thead-dark">
                    <tr>
                            <th style="width:1%;text-align:left;">No.</th>
                            <th style="width: 18%;text-align:left;"> Student Name</th>
                            <th style="width: 14%;text-align:left;"> Batch</th>
                            <th style="width:8%;text-align:left;"> Date</th>
                            <th style="width:7%;text-align:left;">Enroll No.</th>
                            <th style="width:8%;text-align:left;">Mobile</th>
                      <th style="text-align:center;">Course</th>                      
<th style="text-align:right;width: 5%">Fees</th>
<th style="text-align:right;width: 5%">Discount</th>
<th style="text-align:right;width: 5%">Paid</th>
<th style="text-align:right;width: 5%">Balance</th> 
<th style="text-align:center;">Action</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        <?php if(count($destination)>0){  
        $count=1;    
         ?>

        <?php foreach($destination as $key=>$value){  ?>
   <?php $catt=$this->Comman->batc($value['b_id']); ?> 
   <tr>
        <td style="text-align:left;"><?php echo $count; ?></td>
              <td style="vertical-align:top;text-align:left;padding-left:10px" >
                 <ul class="list-inline">

                 <?php   if($value['status']==0){  ?>
    




    
    <?php

} else {  ?>
                      

 <?php $adminrole=$this->request->session()->read('Auth.User.role_id');
 //  pr($values); die;
   if($value['drop_out']!=1){ ?>
                       <?php
 if(($value['status']==1) || ($value['status']==1 && $adminrole==1)){ ?>

<li class="list-inline-item" style="margin-left: -5px;">
       <img src="<?php echo SITE_URL; ?>images/dash_07.png" style="width: 15px;" >
                                    </li>
                       <?php } elseif ($value['status']==2) { 
   if ($adminrole==1) { ?>
                   <li class="list-inline-item">
                   <img src="<?php echo SITE_URL; ?>images/003-dot.png" style="width: 15px;">
                   </li>
                       <?php  }else{ ?>
                        <li class="list-inline-item">
                  <img src="<?php echo SITE_URL; ?>images/003-dot.png" style="width: 15px;">
                  </li>
                       <?php  } 
 }else{ ?>
  <li class="list-inline-item">
   <img src="<?php echo SITE_URL; ?>images/003-dot.png" style="width: 15px;">
   </li>
 <?php }
}else{ ?>
 <li class="list-inline-item">
 <img src="<?php echo SITE_URL; ?>images/reddot.png" style="width: 15px;">

 </li>
<?php }


} ?>
   <li class="list-inline-item"><a href="<?php echo SITE_URL;?>admin/Students/add/<?php echo $value['student']['s_id'];?>" style="background:none; width:fit-content;"><i class="fa fa-pencil"  aria-hidden="true"></i></a>
                                    </li>

         <li class="list-inline-item"><b><a href="<?php echo SITE_URL; ?>admin/Batch/studetail/<?php echo $value['student']['s_id'] ?>"  style="width:unset; color:black" target="_blank"><?php echo ucwords(strtolower($value['student']['s_name'])); ?></a></b>
                                        <?php
if (!empty($dis_stat)) {
    ?> <span style="color:red">*</span>
              <?php } ?>
                                    </li>

              <?php if($this->request->session()->read("Auth.User.role_id")==1){ ?>
           <li style="color:red" class="list-inline-item">(<?php echo $value['branch']['enroll_code'];?>)</li>
                                    <?php } ?>
                                    <li style="margin-right:0px;font-size:16px" class="pull-right list-inline-item">
                                        <?php

            $directory = SITE_URL . 'images/student/' . $value['student']['image'];

             if (empty($value['student']['image']) || !file_exists($directory)) {?>
         <a class='inline'  href="#inline_contentimage<?php echo $value['student']['s_id']; ?>"
                                            style="font-size:12px" title="Add Image"><i class="fa fa-picture-o"
                                                aria-hidden="true"></i>
                                        </a>
                                        <?php } else {?>
             <a class='inline' href="#inline_contentimageedit<?php echo $value['student']['s_id']; ?>"
                                            style="font-size:12px" title="Edit Image"><i class="fa fa-picture-o"
                                                aria-hidden="true"></i>
                                        </a>
                                        <?php }?>

    <a href="<?php echo SITE_URL ?>admin/Fees/index/<?php echo $value['student']['s_id'] ?>"
                                            target="_blank" title="Fees Deposit"
                                            style="background:none; width:fit-content;margin-left:5px"><i
                                                class="fa fa-inr" aria-hidden="true"></i></a>

                                    </li>


                                    </li>
                                    <?php $dis_stat=$this->Comman->discountstat($value['student']['s_id']); 
           
            ?>

                                </ul>

                            </td>
           <td style="text-align:left;"><?php if(!empty($batch_code[$value['student']['s_id']])){ echo $batch_code[$value['student']['s_id']]; }else{
  echo "-";
}?></td>

                            <td style="text-align:left;">
                                <?php echo date('d-M-Y',strtotime($value['student']['add_date'])); ?></td>
                            <?php /*   <td style="vertical-align:top"><?php echo ucfirst($value['Student']['f_name']); ?>
                            </td>*/ ?>
                            <td style="text-align:left;"><?php echo $value['student']['s_enroll']; ?>

                                <div style='display:none'>
                                    <div class="batchpop"
                                        id='inline_contentimage<?php echo $value['student']['s_id']; ?>'
                                        style='padding:10px; background:#fff;'>
                                        <?php echo $this->Form->create('Student',array('url'=>array('controller'=>'Student','action'=>'index'),'type'=>'file','inputDefaults'=>array('div'=>false,'label'=>false),'id'=>'form'. $value['student']['s_id'])); ?>
                                        <h1>Add Image</h1>
                                        <br>
                                        <span class="field">
                                            <?php echo $this->Form->input('image', array('class' => 'smallinput','required','type'=>'file','id'=>'image2'. $value['student']['s_id'])); ?>
                                            <?php echo $this->Form->input('id', array('class' => 'longinput','value'=>$value['student']['s_id'],'type'=>'hidden')); ?>
                                        </span> <span class="field"><?php echo $this->Form->submit('Submit'); ?></span>
                                        <div class="clear"></div>
                                        <?php echo $this->Form->end();?>
                                    </div>
                                </div>
                                <div style='display:none'>
                                    <div class="batchpop"
                                        id='inline_contentview<?php echo $value['student']['s_id']; ?>'
                                        style='padding:10px; background:#fff;'> </div>
                                </div>
                            </td>
                            <td style="text-align:left;"><?php echo $value['student']['s_contact'] ; ?></td>

                            <!--  For Course Name Field    -->

                            <td  colspan="6" style="text-align:left;; padding: 0 !important; text-align:left"
                                class="dash_course_td">
                                <table class="table table-bordered table-striped">
                            <?php 
                                if($this->request->session()->read('Auth.User.role_id')==4) { 
                        $branchID = $this->request->session()->read("Auth.User.branch");
                        $corst=$this->Comman->myexcoursechangeBranch($value['student']['s_id'],$branchID); 
                                }else{
                          $corst=$this->Comman->myexcoursechange($value['student']['s_id']); 
                                }

                          
 $sid=$value['student']['s_id'];


foreach($corst as $values){
     
             ?>
<tr>
<td style="width: 30%;text-align:left;<?php if ($values['drop_out'] == 1) { ?>color:red;<?php }?>">

<ul class="list-inline">

<li class="list-inline-item" >
 <?php
            $jkl=$this->Comman->checkcoursedisc($sid,$values['course_id']); 
 if ($this->request->session()->read('Auth.User.role_id') == 1 && $values['drop_out'] != 1) { ?>
    <a href="<?php echo ADMIN_URL; ?>students/editcourse/<?php echo $values['student']['s_id'];?>/<?php echo $values['id']; ?>/<?php echo $values['course']['id']; ?>" title="Change Course" style="background:none; width:fit-content;"><i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                    <?php } ?>

 </li> <li class="list-inline-item" ><?php
             echo $values['course']['sname']; ?> </li>
                    
                    <li class="list-inline-item" >  <a href="<?php echo ADMIN_URL; ?>student/pdffullreport/<?php echo $values['student']['s_id'] ?>/<?php echo $values['id'] ?>/<?php echo $values['course']['id'] ?>"
                                                    title="FUll Course Detail"
                                                    style="color: red;background:none; width:fit-content; margin-right:0px"
                                                    target="_blank">
                                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                </a>
                                                </li>
           

 </ul>
                                       

                                            <div style='display:none'>
                                                <div class="batchpop"
                                                    id='inline_contentimageedit<?php echo $values['student']['s_id']; ?>'
                                                    style='padding:10px; background:#fff;'>
                                                    <?php echo $this->Form->create('Student',array('url'=>array('controller'=>'Student','action'=>'index'),'type'=>'file','inputDefaults'=>array('div'=>false,'label'=>false),'id'=>'form'. $values['student']['s_id'])); ?>
                                                    <h1>Add Image</h1>

                                                    <span class="field">
                                                        <?php echo $this->Form->input('image', array('class' => 'smallinput','required','type'=>'file','id'=>'image'. $values['student']['s_id'])); ?>
                                                        <?php echo $this->Form->input('id', array('class' => 'longinput','value'=>$values['student']['s_id'],'type'=>'hidden')); ?>
                                                    </span> 
                                                    <span class="field"><?php echo $this->Form->submit('Submit'); ?></span>
               <?php    if(!empty($values['student']['image'])){  ?>
      <a href="javascript:void(0)" style="position: absolute;right: 102px;" onclick="test(<?php echo $values['student']['s_id']?>)">Remove</a>

                <?php  echo $values['image']; } if($value['student']['image']){ ?>
                 <img src="<?php echo SITE_URL ?>images/student/<?php echo $value['student']['image']; ?>" height="100" width="100" style="position: absolute;left: 297px;
                      top: 70px;" />

                                                    <?php }else{ ?>

      <img src="<?php echo SITE_URL ?>images/student/noimage.jpg"
                 height="100" width="100" style="position: absolute;left: 297px;top: 70px;" />


                                                    <?php } ?>
                                                    <div class="clear"></div>
                                                    <?php echo $this->Form->end();?>



                                                </div>
                                            </div>
 </span>  </td>
 <td style="text-align:right;width: 11%;"><?php echo $values['fee']; ?></td>
 <td  style="text-align:right;width: 12%;">
<?php  
    $discount = $this->Comman->discountamt($value['student']['s_enroll'], $values['course_id']);
      $disountAmt=0;
      if(!empty($discount) && $discount['dtype']=='2'){
        $disountAmt=($value1['fee']*$discount['discount'])/100;
      }else if(!empty($discount) && $discount['dtype']=='1'){
        $disountAmt=$discount['discount'];
      }
      
  $fees_det = $this->Comman->feedetails($values['s_id'], $values['course_id']);
    
$fee_pending = $values['fee'] - $fees_det - $disountAmt;
echo $disountAmt;
?>


 </td><td  style="text-align:right;width: 13%;"><?php echo $fees_det; ?></td><td  style="text-align:right;width: 10%;"><?php echo $fee_pending; ?></td>
                                       

<td  style="text-align:left;">





<div class="dropdown">



  <button class="btn btn-default dropdown-toggle" style="font-size: 10px;" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <?php if($values['status']==0){  ?>
    




    
    <?php

} else {  ?>
                      

 <?php $adminrole=$this->request->session()->read('Auth.User.role_id');
 //  pr($values); die;
   if($values['drop_out']!=1){ ?>
                       <?php
 if(($values['status']==1 && $fee_pending<=0)||($values['status']==1 && $adminrole==1)){ ?>
                       Active Student

                       <?php }elseif($values['status']==1 && $fee_pending>0){ ?>
                       Fee Pending
                       <?php  } elseif ($values['status']==2) { //else{
   if ($adminrole==1) { ?>
                   
                           Completed
                       
                       <?php  }else{ ?>
           Completed
                       
                       <?php  } 
 }else{ ?>

   View Detail
 <?php }
}else{ ?>
 View Detail
<?php }


} ?>
    <span class="caret"></span>
  </button>





  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

  <?php if($values['status']==0){ ?>

 <?php  }else{  ?>
                       

 <?php $adminrole=$this->request->session()->read('Auth.User.role_id');
 //  pr($values); die;
   if($values['drop_out']!=1){
 if(($values['status']==1 && $fee_pending<=0)||($values['status']==1 && $adminrole==1)){ ?>
                       <li><a href="<?php echo SITE_URL; ?>admin/students/iscomplete/<?php echo $values['course_id']."/".$values['s_id']; ?>/2"
                          title="Active">Active Student</a></li>

                       <?php }elseif($values['status']==1 && $fee_pending>0){ ?>
                        <li> <a href="JavaScript:Void(0);" 
                           title="Active(Fee Pending cannot Complete)">Fee Pending</a></li>
                       <?php  } elseif ($values['status']==2) { //else{
   if ($adminrole==1) { ?>
                       <li><a href="<?php echo SITE_URL; ?>admin/students/iscomplete/<?php echo $values['course_id']."/".$values['s_id']; ?>/1"
                          title="Completed">
                           Completed
                       </a> </li> 
                       <?php  }else{ ?>
                        <li><a href="#" title="Completed">Completed</a></li>
                       
                       <?php  } 
 }
}
$pays=$this->Comman->paydte($values['s_id']); $messaage=0; foreach($pays as $key=>$iteam){
if($iteam['pay_date']=='0000-00-00'){
     $messaage="1";
}

} 


?>

       <?php if($this->request->session()->read('Auth.User.role_id')==1) {?>



                       <?php 
if ($values['status']==1) {
if($values['drop_out']!=1){ ?> <li> 
  <a class='droppopups' data-bs-toggle="modal" data-bs-target="#exampleModal" href="<?php echo SITE_URL; ?>admin/students/droppops/<?php echo $values['course_id']."/".$values['s_id']; ?>/<?php echo $values['inst_id']; ?>" title="Drop Student">Drop Student</a><li>
  <?php } 
}

?>

<li><a class='transferpopups' data-bs-toggle="modal" data-bs-target="#exampleModal2"
                           href="<?php echo SITE_URL; ?>admin/students/transpops/<?php echo $values['course_id']."/".$values['s_id']; ?>/<?php echo $values['inst_id']; ?>/<?php echo  str_replace(' ', '', $values['branch']['name']); ?>/<?php echo $values['branch']['id']; ?>"
                           <?php if($values['drop_out']==1){ echo "display: none;"; } ?>"
                           title="Transfer Student">Transfer Student</a></li>
                       <?php  
}

} ?>



<?php

if(strtolower($values['course']['course_group'])!="degree courses"){
  $cert_id=$this->Comman->certficate($values['s_id'], $values['course_id']);
if($this->request->session()->read('Auth.User.role_id')==1){
if (!empty($cert_id)) {
  ?>
             <li><a href="<?php echo ADMIN_URL ?>students/mprint/<?php echo $values['student']['s_enroll']; ?>/<?php echo $cert_id['cid']?>"
                                        target="_blank"
                                        title="Certificate"> Print Certificate
                                    </a></li>
                                    <?php } else{?>
                                      <li><a class="certppopups" data-bs-toggle="modal" data-bs-target="#exampleModal4"
                                        href="<?php echo ADMIN_URL ?>students/certppopups/<?php echo $values['course_id']?>/<?php echo $values['s_id']?>"
                                        target="_blank" 
                                        title="Certificate"> Print Certificate</a></li>
                                    <?php }
}else{

  if(!empty($cert_id) && !($fee_pending>0) && $values['drop_out']!=1)
    { ?>
                                     <li><a href="<?php echo ADMIN_URL ?>students/mprint/<?php echo $values['student']['s_enroll']; ?>/<?php echo $values['course_id']; ?>"
                                        target="_blank" 
                                        title="Certificate"> Print Certificate
                                    </a></li>
                                    <?php } else if(empty($cert_id) && !($fee_pending>0) && $values['drop_out']!=1){ ?>
                                      <li> <a class="certppopups" data-bs-toggle="modal" data-bs-target="#exampleModal4"
                                        href="<?php echo ADMIN_URL ?>students/certppopups/<?php echo $values['course_id'] ?>/<?php echo $values['s_id'] ?>" target="_blank" 
                                        title="Certificate"> Print Certificate</a></li>
                                    <?php } } }
  
?>   
                                    <?php
if(strtolower($value['course']['course_group'])!="degree courses"){
    if($fee_pending>0 ){ ?>


                                    <?php 
    }else if($values['student']['is_placed']=='N'){ ?>
                                 
                                    <?php }
    else if($values['student']['is_placed']=='D'){
     ?>
                          
                                    <?php

   }else { ?>
                                    
                                    <?php }
    } 						   
if ($values['drop_out'] != 1 && strtolower($value['course']['course_group'])!="degree courses") {?>
                                    <li> <a  class="idcardpopups" data-bs-toggle="modal" data-bs-target="#exampleModal5" href="<?php echo SITE_URL; ?>admin/Students/idcards/<?php echo $values['student']['s_id'] ?>/<?php echo $values['course_id'] ?>"
                                        >Download ID Card
                                      </a></li>

                                    <?php }

  $instdle=$this->Comman->detestd($values['s_id'],$values['inst_id']); 
        
  $refund=$this->Comman->refundstatus($values['s_id'],$values['course_id']);
    if($this->request->session()->read('Auth.User.role_id')==1){ if(empty($refund)){?>

<li> <a  data-bs-toggle="modal" data-bs-target="#exampleModal3" href="<?php echo SITE_URL; ?>admin/students/refund/<?php echo $values['student']['s_id'] ?>/<?php echo $values['course_id'] ?>" class="refundpopups" >Refund</a></li>
                                    <?php } } ?>
</ul></div>
    </td>



                                                    </tr>

                                        <?php  } ?>

                                                    </table>
                            </td>




 
                            
                        </tr>
                        <?php $count++; }  ?>
                        <?php } else{  ?>
                        <tr>
                            <td colspan="7" align="center">No Meta Available</td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
                <?php  //if(count($destination)>10){ //pr($events);?>
                    <?php echo $this->element('admin/pagination'); ?> 
            </div>
       
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
       </div>
      <!-- /.col -->  
    </div>
     <!-- /.row -->      
  </section>
    <!-- /.content -->  
       
 </div>     
     <!-- /.   content-wrapper -->  
     
     
     <script>
  $(document).on('click','.droppopups',function (e){
  e.preventDefault();
  $('#exampleModal').modal('show').find('.modal-body').load($(this).attr('href'));
});

</script>
     <script>
  $(document).on('click','.transferpopups',function (e){
  e.preventDefault();
  $('#exampleModal2').modal('show').find('.modal-body').load($(this).attr('href'));
});

</script>
     <script>
  $(document).on('click','.refundpopups',function (e){
  e.preventDefault();
  $('#exampleModal3').modal('show').find('.modal-body').load($(this).attr('href'));
});

</script>
     <script>
  $(document).on('click','.certppopups',function (e){
  e.preventDefault();
  $('#exampleModal4').modal('show').find('.modal-body').load($(this).attr('href'));
});

</script>
     <script>
  $(document).on('click','.idcardpopups',function (e){
  e.preventDefault();
  $('#exampleModal5').modal('show').find('.modal-body').load($(this).attr('href'));
});

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header" style="background-color: #3c8dbc;color: #fff;">
        <h5 class="modal-title" id="exampleModalLabel">Drop Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Please wait while we fetching data result....
      </div>
    
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header" style="background-color: #3c8dbc;color: #fff;">
        <h5 class="modal-title" id="exampleModalLabel">Transfer Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Please wait while we fetching data result....
      </div>
    
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header" style="background-color: #3c8dbc;color: #fff;">
        <h5 class="modal-title" id="exampleModalLabel">Refund Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Please wait while we fetching data result....
      </div>
    
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header" style="background-color: #3c8dbc;color: #fff;">
        <h5 class="modal-title" id="exampleModalLabel">Print Certificate</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Please wait while we fetching data result....
      </div>
    
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header" style="background-color: #3c8dbc;color: #fff;">
        <h5 class="modal-title" id="exampleModalLabel">Print ID Card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Please wait while we fetching data result....
      </div>
    
    </div>
  </div>
</div>