
<label class="control-label">Installment Type </label><br>
                <span class="field">
                    <?php
                    
                    if(count($inst)>0){ //pr($events);?>
                    <?php foreach($inst as $key=>$value) {  ?>

                      
  <div class="form-check">
  <input class="form-check-input chk" type="radio" name="inst_id" value="<?php echo $key; ?>" id="flexRadioDefault<?php echo $key; ?>">
  <label class="form-check-label" for="flexRadioDefault<?php echo $key; ?>">
  <?php echo $value; ?>
  </label>
</div>

         
                    <?php } if(!empty($dis_val)) { ?>
           <p style="display: inline-block;margin: 0;">
                <label>Discount</label>
                <span class="field">
            <?php echo $this->Form->input('discount', array('class' =>'form-control','id'=>'discount','type'=>'text','value'=>$dis_val,'div'=>false,'label'=>false)); ?> 

             
               </span>
              
                </p>
             <?php  } ?> 
                  <!-- <p>
                <label>Registration Fees </label>
                <span class="field">

                <?php echo $this->Form->input('reg_fees', array('class' =>'form-control','type'=>'text','id'=>'reg_fees','value'=>$reg_fee,'div'=>false,'label'=>false)); ?> 

              </span>
                </p> -->
             <?php } else { ?>
               No Installment Type Added For This Course
                    <?php } ?>
                </span>
                </p>
              
                <script>          
              $(document).ready(function () { 
                $(".chk").on("click", function (event) {
              var instid= $(this).val();
              $(this).prop("checked", true);


              var discount= $("#discount").val();
              var reg_fees= $("#reg_fees").val();
                  $.ajax({
                    async:true,
                    data:{'inst_id':instid,'discount':discount,'reg_fees':reg_fees},
                    dataType:"html",
                    type:"POST",
                    url:"<?php echo ADMIN_URL ;?>students/selectchk",
                    success:function (data) {
                    //  $('.lds-facebook').hide();   
                      $("#fstbl").html(data); },
                    });
                  return false;
                });
              });
              </script>
                
<?php /*
// JsHelper should be loaded in $helpers in controller
// Form ID: #ContactsContactForm
// Div to use for AJAX response: #contactStatus
$data = $this->Js->get('#checkboxAdminInstForm')->serializeForm(array('isForm' => true, 'inline' => true));
$this->Js->get('#checkboxAdminInstForm')->event(
   'change',
   $this->Js->request(
    array('action' => 'selectchk', 'controller' => 'student'),
    array(
        'update' => '#fstbl',
        //  'before' => 'startloading()',
      //  'complete' => 'endloading()',
       
        'data' => $data,
        'async' => true,   
        'dataExpression'=>true,
        'method' => 'POST'
    )
  )
);
echo $this->Js->writeBuffer(); */
?>


