
<input type="hidden" value="<?php echo $reg_fees;?>" name ="reg_fees" >
<label class="control-label"></label>
<table  class="table table-bordered table-striped" cellspacing="0" cellpadding="2" border="0" style="width:100%;">
<thead class="thead-dark">
	<tr>
		<th style="text-align:center;   width: 88px;"><strong>
      S.No.
    </strong></th>
   
    <th style="text-align:center;  width:145px;"><strong>
      Amount
    </strong></th>
    <!--<th style="text-align:center;  width:145px;"><strong>
      Dis. Amount
    </strong></th>-->
    </tr>
    </thead>
    <tbody>
<?php if(count($det)>0){ //pr($det); die;?>
<input type="hidden" Name ='inst_id' value="<?php echo $det[0]['inst_id']?>">
<?php	if(isset($return))
{?>	<input type="hidden" value=<?php echo $disc;?> Name ='discount' >
<?php } 
else {?><input type="hidden" value='0' Name ='discount' >
	<?php }
if(isset($return))
{ ?>
	<?php for($i=0;$i<count($return);$i++)
	{
		
	?>
	 <tr>
		<td style="text-align:center; width:30px;">
     <?php echo $i+1;?>
    </td>
    
    <td style="text-align:center; width:145px;">
     <?php echo $det[$i]['amt'];?>
    </td>
   <?php /* <td style="text-align:center; width:145px;">
     <?php echo $return[$i];?>
    </td> */ ?>
    
    </tr>
	
	<?php }?>
	<tr>
		<td style="text-align:center; width:30px;">
    Total
    </td>
    
    <td style="text-align:center; width:145px;">
     <?php echo $total;?>
    </td>
    <?php /*<td style="text-align:center; width:145px;">
     <?php echo $discountTotal;?>
    </td> */ ?>
    
    </tr>
	<?php } else { 
    $total_installments=0; ?>
  
      <?php $cnt=1;  foreach($det as $key=>$value) {  ?>
    <tr>
		<td style="text-align:center; width:30px;">
     <?php echo $cnt;?>
    </td>
    
    <td style="text-align:center; width:145px;">
    <?php  $total_installments+=$value['amt']; ?>
    <input type="text"  maxlength="6" onkeypress="return isNumber()" class="form-control install1 longinput" name="installment[]" value="<?php echo $value['amt'];?>" style="width:50%; margin:auto">
    </td>
    
    </tr>
    <?php $cnt++; } 
  ?>  <tr>
  <td style="text-align:center; width:30px;">Total <br> Fee(<?php echo $total_installments; ?>)</td>
  <td><input type="text" onkeypress="return isNumber()" value="<?php echo $total_installments; ?>" class="form-control" id="total" disabled style="width:50%; margin:auto"></td>
  </tr>
  <input type="hidden" id="course_fees" value="<?php echo $course_fees; ?>">
   <?php 
  }} else {  ?>    
                    <tr><td colspan="7" align="center">No Meta Available</td></tr>
                    <?php } ?>
</tbody>
</table>

<script>
$(document).ready(function(){


$(document).change(".install1", function() {
 
    var sum = 0;
    $(".install1").each(function(){
        sum += +$(this).val();
    });
    $("#total").val(sum);
});

function validfees(){
  alert();
}

});
</script>


