<?php   
 if($enquiry['closed']!=1){
$nm=$enquiry['name'];
$ph=$enquiry['phone'];
$br=$enquiry['branch']['name'];
$dt=$enquiry['add_date'];
$crs=$enquiry['course']['sname'];
$status="Open";
 }else{
$nm=$enquiry['name'];
$ph=$enquiry['phone'];
$br=$enquiry['branch']['name'];
$dt=$enquiry['add_date'];
$crs=$enquiry['course']['sname'];
$status="closed";
 }
?>
<?php if(!empty($enquiry)){
  if($status=="closed"){  ?>

  <span id="ncntct" style= "color: red"> Press Submit if you want to restore this enquiry</span>
<?php } else{ ?> <span id="ncntct" style="color: red"> This enquiry already exists please insert new enquiry</span> <?php
 }?>
<input type="hidden" name="closed" value="<?php echo $enquiry['closed']; ?>">
<table style="border:1px solid black;  border-collapse: collapse; margin:auto;">

<tr>        
<td style="border:1px solid black;"><b>Name</b></td>
<td  style="border:1px solid black;"><b>Mobile</b></td>
<td style="border:1px solid black;"><b>Branch</b></td>
<td style="border:1px solid black;"><b>Enquiry Date</b></td>
<td style="border:1px solid black;"><b>Course</b></td>
<td style="border:1px solid black;"><b>Status</b></td>

</tr>
<tr>
	
<td style="border:1px solid black;"><?php echo $nm; ?></td>
<td style="border:1px solid black;"><?php echo $ph; ?></td>
<td style="border:1px solid black;"><?php echo $br; ?></td>
<td style="border:1px solid black;"><?php echo date('d M Y',strtotime($dt)); ?></td>
<td style="border:1px solid black;"><?php echo $crs; ?></td>
<td style="border:1px solid black;"><?php echo $status; ?></td>


</tr>

</table>
<?php  } ?>



