
<div class="feespopup" id='inline_contentinline_contentdrop' style="background:#fff;"> 


  <div class="fplan">  
  
  <div class="row">
			<div class="col-md-12">
			

			<span style="float:right"><b>Enquiry Type :</b>
            <?php echo $mode_list[$det['reference']]; if($det['type']=="Contest"){ ?>(<b><?php echo $det['type'];?></b>)</br>
 <?php if($det['sc_name']){ ?>Detail :<b><?php echo $det['sc_name'];?></b><? } ?><? } ?></span>	
              
              </div>
              
               </div>


<table class="table table-bordered table-striped"   id="followdetails">
                    <thead class="thead-dark">
                      <tr>
                        <th style="font-size:12px;width:5%;">S.No.</th>
                        <th style="font-size:12px;width:15%;">Date</th>
                        <th style="font-size:12px;">Remark</th>
                        <th style="font-size:12px;width:15%;">Next FollowUp</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                    <?php if(count($det['follow'])>0){  
        $cnt=1;  ?>

    <?php foreach($det['archive_follow'] as $key=>$value) {  ?>

<tr>
<td><?php echo $cnt++; ?></td>
<td><?php echo strftime('%b %d, %Y',strtotime($value['add_date'])); ?></td>
<td><?php echo $value['f_responce']; ?></td>
<td><?php echo strftime('%b %d, %Y',strtotime($value['f_date'])); ?></td>
    </tr>
        <?php }  }else{ ?>
            <tr>
                            <td colspan="4" align="center">No Meta Available</td>
                        </tr>
            <?php } ?>
                      </tbody>
                    
                  </table>
                  
  
</div>
</div>
<div class="modal-footer box footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
      
      </div>
     