<link rel="icon" href="<?php echo SITE_URL;?>images/favicon_icon.png" type="image/x-icon">
<?php //pr($order); die;
class xtcpdf extends TCPDF {
}

$pdf = new TCPDF('P', 'mm', 'A4', true, 'UTF-8', false, true);

// set document information
$pdf->SetPrintHeader(false);
$pdf->SetPrintFooter(false);
$pdf->SetMargins(5, 0, 10, true);
$pdf->AddPage();

$pdf->SetFont('', '', 7, '', 'false');
//$pdf->SetTextColor(0, 0, 0);
//$pdf->SetFont('Arial', '', 12);

$pdf->SetAutoPageBreak(false, 0);
//$pdf->SetMargins(5, 0, 5, true);



$html.='
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">';

$html.='<body><h2 style="text-align:center; margin-bottom:0; border:none;">Examination Detail  </h2>
<table border="1" align="center" width="100%" cellpadding="2" cellspacing="0"> 
<tr nobr="true">
<th style="width:5%;"><b>S.no</b></th>
<th style="width:13%;"><b>Exam Name</b></th>
<th style="width:15%;"><b>Enroll</b></th>
<th style="width:15%;"><b>Students Name</b></th>
<th style="width:12%;"><b>Mobile</b></th>
<th style="width:12%;"><b>Branch</b></th>
<th style="width:14%;"><b>Batch</b></th>
<th style="width:15%;"><b>Subject</b></th>

</tr>';

$cnt=1;
foreach($exam_det as $stu){
  # code...
 $html.='<tr nobr="true">
    <td align="left">'.$cnt++.'</td>
    <td align="left"> '.ucwords($stu['exam_name']).'</td>
    <td align="left"> '.$stu['stu_enroll'].'</td>
    <td align="left"> '.ucfirst($stu['stu_name']).'</td>
    <td align="left"> '.$stu['stu_mobile'].'</td>
    <td align="left"> '.$stu['branch'].'</td>
    <td align="left"> '.$stu['batch_code'].'</td>
    <td align="left"> '.$stu['exam_subject'].'</td>';


$html.='</tr>';
}
$html.='</table></body>';
  
//echo $html; die;


      
$pdf->writeHTMLCell(0, 0, '', '', utf8_encode($html), 0, 1, 0, true, '', true);
ob_end_clean();
echo $pdf->Output('orderlist.pdf');
exit;
?>
  