<link rel="icon" href="<?php echo SITE_URL;?>images/favicon_icon.png" type="image/x-icon">
<?php //pr($order); die;
class xtcpdf extends TCPDF {
}

$pdf = new TCPDF('L', 'mm', 'A4', true, 'UTF-8', false, true);

// set document information
$pdf->SetPrintHeader(false);
$pdf->SetPrintFooter(false);
$pdf->SetMargins(5, 0, 10, true);
$pdf->AddPage();

$pdf->SetY(-270);
$pdf->SetTextColor(0, 0, 0);
$pdf->SetFont('times', '', 12);

$html .= '<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title><h1 style="margin-left:300px;"> DOOMSHELL ACADEMY OF ADVANCE COMPUTING<br>Students Result </h1><br><br><table width="650px"><tr><td>Exam Name</td><td width="20">:</td><td colspan="4">'.$examname.'</td><td>Date</td><td width="20">:</td><td>'.$examdate.'</td></tr>';
$html .='<tr><td>Type</td><td width="20">:</td><td colspan="4">'.$examtype.'</td><td>Marks</td><td width="20">:</td><td>'.$allm.'</td></tr>';
$html .='<tr><td>Batch</td><td width="20">:</td><td colspan="4">'.$batch.'</td><td></td><td></td></tr></table>';
$html .='<br><br><table border="1" width="90%"><tr><td width="10%" style="text-align:center;font-weight:bold">S.No.</td><td width="30%" style="text-align:center;font-weight:bold">Name</td>
  <td style="text-align:center;font-weight:bold" width="30%">Enroll No.</td><td style="text-align:center;font-weight:bold" width="20%">Marks</td><td style="text-align:center;font-weight:bold" width="20%">Result</td></tr>';
 $cnt=1;
 //dd($posts); die;
foreach ( $posts as $post ){
    //$all=$this->Common->result($post,$eid);
    $user=$this->Comman->resultuser($post);
    $response=$this->Comman->absresult($post,$eid);
 //$uno=$this->Common->wrongquest($post,$eid);
 
 //$un=$uno[0]['unanswer'];
 
    
    $resp=$response['respo'];
    
    if(empty($result[$post]))
{
    $marks="A";
    $res="A";
}
else{
  $marks=$result[$post]['marks_obtained'];
  $res=$result[$post]['result'];
}
    $html .='<tr>';
    $html .='<td align="center">'.$cnt.'</td>';
    $html .='<td>  '. ucfirst($user['name']).'</td>';
    $html .='<td> '. $user['username'].'</td>';
    $html .='<td align="center"> '. $marks.'</td>';
    $html .='<td align="center"> '. ucfirst($res).'</td>';
    $html .='</tr>';
    $cnt++; 
}
$html .='</table></body>';
  


      
$pdf->writeHTMLCell(0, 0, '', '', utf8_encode($html), 0, 1, 0, true, '', true);
ob_end_clean();
echo $pdf->Output('orderlist.pdf');
exit;
?>
  