<section class="content-header">
    <div class="alert alert-info alert-dismissible">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        
        <?= h($message) ?>
    </div>
</section>
