 @import url("buttons.css");

html {

	margin:0;

	padding:0;



}

body {

	margin: 0;

	padding: 0;

	font-family: Arial;

	font-size: 12px;

	color: #363636;

	background-repeat: repeat-x;

	background-image: url(../../../admin_images/login/pick_bg.jpg);

}

body.error {

	background-image: url(../../../admin_../admin_images/login/pick_bg.error.jpg);

}

body.dashborad {

	background-image: url(../../../admin_images/login/menu_bg.jpg);

	background-repeat: repeat-y;

}

body.nobg {

	background-image: none;

	background-repeat: repeat-y;

}



.preloader {

	display:inline-block;

	background-color: #ffffff;

	background-image: url(loader1.html);

	background-repeat: no-repeat;

	background-position: center center;

}

/*

	loading layout

*/

#overlay {

	width:100%;

	height:100%;

	position:fixed;

	top:0;

	left:0;

	background-color:#111;

	/*	opacity:0.1;

	filter:alpha(opacity=10);*/

	z-index:1000;

	display: none;

}

#preloader {

	background: #000000 url(../../../admin_images/login/loadder/preloader.gif) no-repeat 12px 10px;

	font-size: 11px;

	height: 20px;

	left: 50%;

	line-height: 20px;

	margin: -20px 0 0 -45px;

	padding: 10px;

	position: fixed;

	text-align: left;

	text-indent: 36px;

	top: 50%;

	width: 90px;

	z-index: 1209;

	opacity:0.8;

	filter:alpha(opacity=80);

	-moz-border-radius: 8px;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	color: #FFF;

	text-shadow:none;

	display: none;

}

#pageload {

	background: #000000;

	font-size: 11px;

	height: 20px;

	left: 50%;

	line-height: 20px;

	margin: -20px 0 0 -55px;

	padding: 10px;

	position: fixed;

	text-align: center;

	top: 50%;

	width: 120px;

	z-index: 1006;

	opacity:0.8;

	filter:alpha(opacity=80);

	-moz-border-radius: 12px;

	-webkit-border-radius: 12px;

	border-radius: 12px;

	color: #FFF;

	text-shadow:none;

	display: none;

}



/* overrides extra padding on button elements in Firefox */

.uibutton::-moz-focus-inner {

 padding: 0;

 border: 0;

}

ul.tabs {

	margin: 0;

	padding: 0;

	float: left;

	list-style: none;

	height: 32px;

	border-bottom: 1px solid #e9e9e9;

	border-left: 1px solid #e9e9e9;

	width: 100%;

}

ul.tabs li {

	float: left;

	margin: 0;

	padding: 0;

	height: 31px;

	line-height: 31px;

	border: 1px solid #e9e9e9;

	border-left: none;

	margin-bottom: -1px;

	overflow: hidden;

	position: relative;

	text-transform: uppercase;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: 700;

	display: none;

	background-image: url(../../../admin_images/login/bg/NavBg.png);

}

ul.tabs li span {

	color: #999;

	display: block;

	padding: 0 20px;

	border: 1px solid #fff;

	outline: none;

	font-size: 11px;

}

ul.tabs li a {

	text-decoration: none;

	color: #999;

	display: block;

	padding: 0 20px;

	border: 1px solid #fff;

	outline: none;

	font-size: 11px;

 -webkit-transition: background-color .2s ease-out;

 -moz-transition: background-color .2s ease-out;

 -o-transition: background-color .2s ease-out;

 transition: background-color .2s ease-out;

}

ul.tabs li a:hover {

	color: #000;

	background-image: url(../../../admin_images/login/bg/NavBgHover.png);

}

ul.tabs li.active a {

	color: #900;

 -webkit-transition: background-color .2s ease-out;

 -moz-transition: background-color .2s ease-out;

 -o-transition: background-color .2s ease-out;

 transition: background-color .2s ease-out;

}

ul.tabs li.active, ul.tabs li.active a:hover {

	background: #fff;

	border-bottom: 1px solid #fff;

	color: #000;

}

.tab_container {

	border: 0px solid #e9e9e9;

	border-top: none;

	clear: both;

	float: left;

	width: 100%;

	background: #fff;

	-moz-border-radius-bottomright: 5px;

	-khtml-border-radius-bottomright: 5px;

	-webkit-border-bottom-right-radius: 5px;

	-moz-border-radius-bottomleft: 5px;

	-khtml-border-radius-bottomleft: 5px;

	-webkit-border-bottom-left-radius: 5px;

	padding-top: 15px;

}

.tab_content {

	padding: 0px;

	min-height: 50px;

	display: none;

}

.tab_content .uibutton-group {

	position: relative;

	margin-top:-41px;

	margin-right:0px;

	float:right;

}

a {

	color: #1F92FF;

	text-decoration: none;

	text-shadow: 0px 0px 0px transparent;

	cursor: pointer;

}





/*

		------------------------------------------------------------

		 input Type 

		------------------------------------------------------------

		*/

	

input[type=text], input[type=password], .fileupload {

	background-position: 5px 5px;

	border: solid 1px #dddddd;

	outline: 0;

	line-height: 28px;

	height: 28px;

	padding: 0px 7px 0px 7px;

	-moz-box-shadow:1px 1px 2px #f5f5f5;

	-webkit-box-shadow:1px 1px 2px #f5f5f5;

	box-shadow:1px 1px 2px #f5f5f5;

	-webkit-transition: all 0.4s ease 0s;

	-moz-transition: all 0.4s ease 0s;

	-o-transition: all 0.4s ease 0s;

	transition: all 0.4s ease 0s;

}

input[type=text]:focus, input[type=password]:focus, textarea:focus, .fileupload:focus {

	border-color: #C9C9C9;

	-moz-box-shadow:0px 0px 8px #dddddd;

	-webkit-box-shadow:0px 0px 8px #dddddd;

	box-shadow:0px 0px 8px #dddddd;

}

input[type=text]:disabled, input[type=password]:disabled {

	background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), color-stop(4%, #EEEEEE), to(#EEEEEE));

	background: -moz-linear-gradient(top, #EEEEEE, #EEEEEE 1px, #EEEEEE 25px);

	color: #666;

}

input[type=text].error, input[type=password].error {

	height: 30px;

	border: 1px #F00 solid;

	background-position: 5px 5px;

	padding-left: 5px;

}





/*alertMessage*/

#alertMessage {

	font-size:16px;

	font-weight:bold;

	padding:15px 25px 15px 45px;

	position:fixed;

	text-align:center;

	width:auto;

	z-index:100001;

	cursor:pointer;

	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;

	background-color:#C2E3F0;

	color:#34667A;

	text-shadow:1px 1px 1px #C8EBFB;

	display:none;

	right: -20px;

	text-transform: uppercase;

	bottom: 25px;

	opacity:0;

	filter:alpha(opacity=0);

	background-image: url(../../../admin_images/login/info.png);

	background-repeat: no-repeat;

	background-position: 10px center;

}

.alertMessage {

	font-size:16px;

	font-weight:bold;

	padding:15px 25px 15px 45px;

	width:auto;

	cursor:pointer;

	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;

	background-color:#C2E3F0;

	color:#34667A;

	text-shadow:1px 1px 1px #C8EBFB;

	text-transform: uppercase;

	margin-bottom:15px;

	background-image: url(../../../admin_images/login/info.png);

	background-repeat: no-repeat;

	background-position: 10px center;

}

#alertMessage span, .alertMessage span {

	border-left: 1px #488eaa solid;

	border-right: 1px #efefef solid;

	margin-right:10px;

	padding:5px 0px;

}

#alertMessage.error, .alertMessage.error {

	background-color:#fc4a48;

	color:#5A0000;

	text-shadow:1px 1px 1px #E64040;

	background-image: url(../../../admin_images/login/error.png);

	border: 1px #a93a25 solid;

}

#alertMessage.error span, .alertMessage.error span {

	border-left: 1px #7a0202 solid;

	border-right: 1px #f08c8a solid;

	margin-right:10px;

	padding:5px 0px;

}

#alertMessage.success, .alertMessage.success {

	background-color:#9bc652;

	color:#324e03;

	text-shadow:1px 1px 1px #5c9201;

	background-image: url(../../../admin_images/login/checkmark2.png);

	border: 1px solid #69a44d;

}

.alertMessage.success span {

	border-left: 1px #688901 solid;

	border-right: 1px #d0e4a7 solid;

	margin-right:10px;

	padding:5px 0px;

}

#alertMessage.warning, .alertMessage.warning {

	background-color:#fcdb72;

	color:#987402;

	text-shadow:1px 1px 1px #e7b104;

	background-image: url(../../../admin_images/login/help.png);

}

#alertMessage.warning span, .alertMessage.warning span {

	border-left: 1px #987402 solid;

	border-right: 1px #fff0c2 solid;

	margin-right:10px;

	padding:5px 0px;

}

/* styled checkboxes */

.iPhoneCheckContainer {

	position:relative;

	height:27px;

	cursor:pointer;

	overflow:hidden;

	border: 2px #f1f1f1 solid;

}

.iPhoneCheckContainer:hover {

	border: 0px #ffffff solid;

	margin:2px;

	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;

	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;

}

.iPhoneCheckContainer input {

	position:absolute;

	top:5px;

	left:30px;

filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

	opacity:0

}

.iPhoneCheckContainer label {

	white-space:nowrap;

	font-size:10px;

	font-weight: bold;

	line-height:16px;

	text-transform:uppercase;

	cursor:pointer;

	display:block;

	height:22px;

	position:absolute;

	width:auto;

	top:0;

	padding-top:5px;

	overflow:hidden

}

.iPhoneCheckContainer, .iPhoneCheckContainer label {

	user-select:none;

	-moz-user-select:none;

	-khtml-user-select:none

}

.iPhoneCheckDisabled {

filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);

	opacity:0.5

}

label.iPhoneCheckLabelOn {

	color:#FFF;

	background:url(../../../admin_images/login/on.png) no-repeat left top;

	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);

	left:0;

	padding-top:5px

}

label.iPhoneCheckLabelOn span {

	padding-left:13px

}

label.iPhoneCheckLabelOff {

	color:#FFF;

	background:url(../../../admin_images/login/off.png) no-repeat right 0;

	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);

	text-align:right;

	right:0

}

label.iPhoneCheckLabelOff span {

	padding-right:11px

}

.iPhoneCheckHandle {

	display:block;

	height:27px;

	cursor:pointer;

	position:absolute;

	top:0;

	left:0;

	background:url(../../../admin_images/login/slider_left.png) no-repeat;

	padding-left:3px

}

.iPhoneCheckHandleRight {

	height:100%;

	width:100%;

	padding-right:3px;

	background:url(../../../admin_images/login/slider_right.png) no-repeat right 0

}

.iPhoneCheckHandleCenter {

	height:100%;

	width:100%;

	background:url(../../../admin_images/login/slider_center.png)

}

.text_success {

	font-size:14px;

	text-align:center;

	margin:0px 0 35px 0;

	line-height:25px;

	position: absolute;

	left: 50%;

	width: 420px;

	top: 50%;

	z-index: 50;

	margin-left: -215px;

	text-transform: uppercase;

	padding: 20px 0px;

	margin-top: -100px;

	display: none;

}

.text_success img {

}

.text_success span {

	display: block;

	padding: 10px;

	color: #CCC;

}

.responMsg {

	width: 40%;

	padding: 40px 0 0px 0;

	margin: auto;

	display:none;

}

.responMsg > div {

	text-align: center;

	padding: 50px 0;

	border: 1px #eeeeee dashed;

}

.responMsg h2 {

	display: block;

}

.responMsg a {

}

#versionBar {

	height: 50px;

	background-color: #000;

	background-image: url(../../../admin_images/login/top_bgrepeat.jpg);

	text-shadow:none;

	color:#FFF;

	text-align: right;

	font-size:10px;

	line-height: 50px;

	padding: 0 0px;

}

#login {

	width: 420px;

	margin: auto;

	border: 5px #f4f4f4 solid;

	margin-bottom: 20px;

	padding: 0;

	position: absolute;

	top: 50%;

	left: 50%;

	margin-left:-215px;

	margin-top:-165px;

	background-color: #f4f4f4;

	opacity:0;

	filter:alpha(opacity=0);

	border-radius: 15px;

	-webkit-border-radius: 15px;

}

#login .ribbon {

	background-image: url(../../../admin_images/login/logform.png);

	position: absolute;

	width: 111px;

	height: 110px;

	z-index: 12;

	margin-top: -8px;

	margin-left: -9px;

}

#login .shadow {

	position: absolute;

	width: 434px;

	z-index: -1;

	margin-top: 5px;

	background-image: url(../../../admin_images/login/shadowForm.png);

	height: 33px;

	margin-left: -10px;

}

#login .inner {

	background-color:#FFF;

	border: 1px #cccccc solid;

	min-height: 230px;

	overflow: hidden;

	border-radius: 10px;

	-webkit-border-radius: 10px;

}

#login .logo {

	text-align:center;

	padding:0px 0px 0px 0px;

	position: absolute;

	opacity:0;

	filter:alpha(opacity=0);

	top: 5%;

	left: 50%;

	margin-left: -126px;

	z-index: 11;

	background-color: #FFF;

}

#login .formLogin {

	width:320px;

	margin:auto;

	position: relative;

	height: 160px;

	left: -100px;

	opacity:0;

	filter:alpha(opacity=0);

	border-radius: 15px;

	-webkit-border-radius: 15px;

	padding: 100px 20px 20px 20px;

}

#login #username_id, #login #password {

	font-size: 25px;

	background-repeat:no-repeat;

	padding-left: 35px;

	height: 35px;

	background-position: 2px 3px;

	line-height: 35px;

	color: #666;

	width: 275px;

	margin-bottom: 10px;

	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;

}

#login #username_id:focus, #login #password:focus {

	color:#000;

}

#login #username_id {

	background-image: url(../../../admin_images/login/icon/user_.png);

}

#login #password {

	background-image: url(../../../admin_images/login/icon/pass_.png);

	font-size: 35px;

}

#login .userbox {

	height: 260px;

	/*	background-color: #FFF;*/

	position: absolute;

	z-index: 10;

	width: 418px;

	background-color: #FFF;

	background-image: url(../../../admin_images/login/loadder/loader_green.gif);

	background-repeat: no-repeat;

	background-position: center 170px;

}

#login .userbox .userload {

	left: 50%;

	margin-left: -50px;

	margin-top: -70px;

}

#login .userbox .userload:hover {

	cursor: pointer;

}

