
  <div class="fplan">  

  <div class="row">
			<div class="col-md-12">
			

				<div class="box box-info boxInfoBx boxInfoBxStudentInfo">
  <div class="box-body addStdntsFrm">
                    <div class="row d-flex">
<div class="col-sm-4 align-self-center" ><?php 
$path=LOCALWEB.$stu_det['image'];
//echo $path; die;
if(!empty($stu_det['image']) && file_exists($path)){ ?>
<img src="<?php echo SITE_URL;?>images/student/<?php echo $stu_det['image']?>" alt="img" style="width:100px;height:100px"> <?php } else{ ?><img src="https://daac.in/images/student/noimage.jpg" alt="img" style="width:100px;height:100px"><?php } ?></div>
<!--  -->

               <div class="col-sm-8 align-self-center">
               <h3><?php echo ucwords($stu_det['s_name'])?></h3>
               <table style="width:100%">
               <tbody><tr style="width:100%"><td style="text-align:left; width:30%; padding-right:2%"><b>Enroll. No</b></td><td style="text-align:left ;"><b>:</b> <?php echo $stu_det['s_enroll']?></td></tr>
                           <tr style="width:100%"><td style="text-align:left ;width:30%; padding-right:2%"><b>Enrollment Date</b></td><td style="text-align:left ;"><b>:</b>  <?php echo date('d-m-Y',strtotime($stu_det['add_date'])); ?></td></tr>

                           <tr style="width:100%"><td style="text-align:left ;width:30%; padding-right:2%"><b>Request Date</b></td><td style="text-align:left ;"><b>:</b>  <?php echo date('d-m-Y',strtotime($discount['created'])); ?></td></tr>

                           <tr style="width:100%"><td style="text-align:left ;width:30%; padding-right:2%"><b>Branch</b></td><td style="text-align:left ;"><b>:</b>  <?php echo $discount['branch']['name']; ?></td></tr>

                           <tr style="width:100%"><td style="text-align:left ;width:30%; padding-right:2%"><b>Discount</b></td><td style="text-align:left ;"><b>:</b>  <?php echo $discount['discount']; ?></td></tr>

                           <tr style="width:100%"><td style="text-align:left ;width:30%; padding-right:2%"><b>Discount Type</b></td><td style="text-align:left ;"><b>:</b>  <?php echo ($discount['dtype']==1)?"Fixed":"Percentage"; ?></td></tr>
               
               </tbody></table>            
               </div>
              
               </div>
               
                </div></div>
              
              </div>
              
               </div>
<table class="table table-bordered table-striped afTblStndRept" width="100%">
               
               <thead class="thead-dark">
	<tr>

		<th style="text-align:center; width:10px;"><strong>
      S.No.
    </strong></th>
  
    <th style="text-align:center; "><strong>
    Student Name
    </strong></th>

    <th style="text-align:center; "><strong>
    Course Name
    </strong></th>
    <th style="text-align:center; "><strong>
    Approval Date
    </strong></th>
    <th style="text-align:center; "><strong>
    Course Fee
    </strong></th>
   
    </tr>
    </thead>
    <tbody> <?php    $rt=0;  ?>
                        <?php $s=explode(",",$discount['enrollment']); //pr($s); die;
                        
                        $count=1;
                        
                        $bid=$discount['branch']['id']; //pr($bid); die;
                        $corid=$discount['course_id'];
                     
                        foreach($s as $keys=>$enroll ){ //pr($values); die; //  pr($enroll);die;
                         $res=$this->Comman->usr_dtl($enroll); 

                         
                         $fee_plan_status=0;
                         $course_fee=0;
                    foreach($res['student_course'] as $st_course){
						if($st_course['course_id']==$discount['course_id']){
							
							if($st_course['status']==1){
								$fee_plan_status=1;
								$course_fee=$st_course['fee'];
								break;
							}
						}
					}
						 $sids=$res['s_id'];
							
                    //  $c=$this->Common->std_newcorid($sids,$corid,$bid); 
                  
                  $c=$this->Comman->std_newcorid($sids,$corid,$bid);  
                    
                     //
                      if(!empty($res))  { 
						  
						  ?>
                   
           <tr class="gradeX">
                
                <td> <?php echo $count; $count++; ?></td>
      
                <td> <?php echo $res['s_name']; ?></td>
                <td> <?php echo date('d-m-Y',strtotime($res['reportdiscount'][0]['created'])); ?></td>
                <td> <?php echo $c['course']['sname']; ?></td>
                <td> <strong>Before Discount</strong>: <?php echo $res['reportdiscount'][0]['course_fee']; ?></br>
                 <strong>After Discount</strong>: <?php echo $res['reportdiscount'][0]['afdiscount_fee']; ?></td>
                
           </tr>
              <?php } else { 
				  $rt++;
				  ?>     
            <tr class="gradeX">
                
                <td colspan=6 style=color:red><?php echo $enroll; ?> is not found !!</td>
               
                
           </tr>
                
			 
			 <?php } } ?>
    



   
    
    </tr>
  	
    
</tbody>
</table>
  
</div>
</div>
<div class="modal-footer box footer">

<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


    
      </div>
