<?php echo $this->Form->create('Student',array('action' => 'updatestatus','type'=>'file','inputDefaults'=>array('div'=>false,'label'=>false),'class'=>'stdform dropupStudPop addStdntsFrm needs-validation')); ?> 

<input type="hidden" name="id" id="statusid" value="<?php echo $id; ?>">
<input type="hidden" name="status" value="Y">
<div class="feespopup" id='inline_contentinline_contentdrop' style="background:#fff;"> 
  <div class="fplan">  
 

 
        <div class="feespopup"  style='background:#fff;'>

        <table class="table table-bordered table-striped afTblStndRept" width="100%">
               
              
               <tbody>
              <tr>
              <div class="row">
                       <div class="col-md-12">
                     
    
           
             <div class="box box-info boxInfoBx boxInfoBxStudentInfo boxInfoBxStudentInfoMB0">
             <div class="box-body addStdntsFrm">
                             
                         
             <div class="row d-flex">
<div class="col-sm-12 align-self-center" >
<strong>Please Enter OTP:</strong>

<input class="form-control" size="9" maxlength="9" required placeholder="Enter OTP..." type="number" name="otp">  
					<input type="hidden" name="id" id="approval-id" value="<?php echo $id; ?>">
        <input type="hidden" name="status" id="approval-status" value="<?php echo $status; ?>">
  </div>



               
               </div>
                          
                          </div>
                         
                         </div>
                        
                        </div>
                        
                         </div>
           
               </tr>
               
               
                 
               
           </tbody>
           </table>
  
</div>
</div>
<div class="modal-footer box footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
        <?php echo $this->Form->submit('Continue',array('class' => 'btn btn-success')); ?>
      </div>
    
      </div>  <?php echo $this->Form->end();?> 