<?php if($this->Session->read("Auth.User.branch")!='0') { 
					$branch=$this->Comman->findcoursefees($this->Session->read("Auth.User.branch"),$fees['id']);
					//pr($branch); die;
					if(!empty($branch)) {
					?>
          


                <div class="col-sm-3">
                           
                           <label for="inputEmail3" class="control-label">Course Fee<strong style="color:red;">*</strong></label>
                           <?php echo $this->Form->input('fees', array('class' => 'form-control','required','label'=>false,'id'=>'fee_cou','required','value'=>$branch['deposit_fees'],'label'=>false,'required')); ?>   
                       
                           
                       </div>
               <span id="eror" style="color:red;margin-left: 261px;"></span>
                
                <?php } else { echo '0';?>
					
  <?php } } else { ?>
	
	

    <div class="col-sm-3">
                           
                           <label for="inputEmail3" class="control-label">Course Fee<strong style="color:red;">*</strong></label>
                           <?php echo $this->Form->input('fees', array('class' => 'form-control','readonly','label'=>false,'id'=>'fee_cou','required','value'=>$fees['fees'],'label'=>false,'required')); ?>   
                       
                           
                       </div>
            
            	<span id="eror" style="color:red;margin-left: 261px;"></span>
               

  <?php } ?>
