<div id="placement_page">
<section id="top_banner" class="top_aboutbanner">
	<img src="https://daac.in/images/course/about_us_banner.jpg">
<div class="container">
<h4>Start Your 7 - Days Free Trial Today.</h4>
</div><!--container-->
</section><!--top_banner-->

<section id="latest_plac" class="about_pg">
<div class="container">
<hgroup>
<h2>About Us</h2>
<p>Are You Looking For</p>
<h6>About</h6>
</hgroup>
<br>

<div class="row">
<div class="col-md-6 align-self-center">
<?php foreach($destination as $key=>$value) {   //pr($value); die; ?>
    <div class="wow fadeInUp about_tppara">
         
         <?php echo $value['content']; ?> 
           </div>
        <?php } ?>
</div>

<div class="col-md-6 align-self-center">
<img src="<?php echo SITE_URL; ?>images/about_img.png" alt="">

</div>
<!--  -->
</div>

<div class="about_btmpara">
<?php foreach($destination as $key=>$value) {   //pr($value); die; ?>
   <!--    <h2 class="pdtp20 wow bounceInDown"><?php //echo $value['title']; ?>  <span class="black"></span></h2> -->
         
         
         <?php echo $value['content']; ?> 
         
        <?php } ?>
</div>

 
</div><!--container-->
</section><!--latest_plac-->

<section id="call_action">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6">
<p>We Will Contact You, At a Time Which Suits You Best</p>
</div>
<div class="col-md-4"><a href="javascript:void(0);" data-toggle="modal" data-target="#request_modal"><i class="fas fa-phone-volume"></i> Request a Call Back</a></div>
</div>
</div>
</section>
</div>
