
<div id="placement_page">
<section id="top_banner" class="top_aboutbanner">
	<img src="https://daac.in/images/course/privacy_banner.jpg">
<div class="container">
<h4>Start Your 7 - Days Free Trial Today.</h4>
</div><!--container-->
</section><!--top_banner-->



<section id="latest_plac">
<div class="container">


<hgroup>
<h2>Privacy</h2>
<p>Are You Looking For</p>
<h6>Privacy</h6>
</hgroup>
<br>
<?php foreach($destination as $key=>$value) {   //pr($value); die; ?>
   <!--    <h2 class="pdtp20 wow bounceInDown"><?php //echo $value['title']; ?>  <span class="black"></span></h2> -->
         <div class="wow fadeInUp"><?php echo $value['content']; ?>
           </div>
        <?php } ?>
 
</div><!--container-->
</section><!--latest_plac-->



<section id="call_action">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6">
<p>We Will Contact You, At a Time Which Suits You Best</p>
</div>
<div class="col-md-4"><a href="javascript:void(0);" data-toggle="modal" data-target="#request_modal"><i class="fas fa-phone-volume"></i> Request a Call Back</a></div>
</div>
</div>
</section>
</div>
