<div id="test_monialsec">
<section id="top_banner" class="stud_testbanner">
<img src="http://daac.in/images/Student-testimonial.jpg" alt="">
</section><!--top_banner-->

<section id="carrer_coursdur">
<div class="container">
<div class="position_div"> 
<div class="inner_maindiv">
<div class="inner_div">
<ul class="list-inline">
<li class="list-inline-item active">Home</li> 
 <li class="list-inline-item">Student Tesimonials</li>
</ul>

</div><!--inner_div-->
</div><!--inner_maindiv-->
</div><!--position_div-->
</div><!--container-->
</section><!--carrer_coursdur-->

<section class="test_monialsecinner">
<div class="container">


<hgroup>
<h2>Alumni Speaks</h2>
<p>Are You Looking For</p>
<h6>Alumni Speaks</h6>
</hgroup>
<div class="testimon_boxmain">
	<?php $counter = ""; foreach ( $success as $value ) { $counter +=1;  ?>
 <?php if($counter%2 == 0) { ?> 
<div class="testimo_box">
<div class="row">
<div class="col-xl-2 col-lg-2 col-md-2">  

</div>

<div class="col-xl-8 col-lg-8 col-md-8">
<div class="box">
<p><?php echo  $value['des']; ?></p>
</div><!--box-->
</div>

<div class="col-xl-2 col-lg-2 col-md-2">
<div class="test_img">
	<?php $catt=$this->Comman->testi($value['enroll']);  ?>
	 <?php 

if($catt['image']!=''){
 ?> <img src="<?php echo SITE_URL ?>images/resume/<?php echo  $catt['image']; ?>" width="70" height="71" alt="1" />
<?php  }  ?>

<span><?php echo  $value['name']; ?></span>
<strong><?php  if($value['tech'] =='WebDevelopment'){ echo "Web Developer";} ?> <?php  if($value['tech'] =='Web Designer'){ echo "Web Designer"; } ?></strong>
</div><!--test_img-->
</div>
</div><!--row-->
</div><!--testimo_box-->
 

 <?php }  else {  ?> 
<div class="testimo_box">
<div class="row">
<div class="col-xl-2 col-lg-2 col-md-2">
<div class="test_img">
	<?php $catt=$this->Comman->testi($value['enroll']); ?>
	 <?php 
if($catt['image']!=''){
 ?> <img src="<?php echo SITE_URL ?>images/resume/<?php echo  $catt['image']; ?>" width="70" height="71" alt="1" />
<?php  }  ?>

<span><?php echo  $value['name']; ?></span>
<strong><?php  if($value['tech'] =='WebDevelopment'){ echo "Web Developer";} ?> <?php  if($value['tech'] =='Web Designer'){ echo "Web Designer"; } ?></strong>
</div><!--test_img-->
</div>

<div class="col-xl-8 col-lg-8 col-md-8">
<div class="box">
<p><?php echo  $value['des']; ?></p>
</div><!--box-->
</div>

<div class="col-xl-2 col-lg-2 col-md-2">
</div>
</div><!--row-->
</div><!--testimo_box-->





 
 <?php } //end the elseif $counter ?> <?php }?>

</div><!--testimon_boxmain-->


</div><!--container-->
</section><!--test_monialsecinner-->

<section id="recruiters">
<div class="container">
<hgroup>
<h2>Top Recruiters</h2>
<p>Our Top Recruiters</p>
<h6>Recruiters</h6>
</hgroup>
<div class="logo_section">
<div class="row">
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(https://daac.in/images/Recruiters-logos.webp) no-repeat; background-position:0 0; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-175px 0; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-350px 0; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-525px 0; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-700px 0; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-875px 0; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:0px -95px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-175px -95px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-350px -95px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-525px -95px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-700px -95px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-875px -95px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:0px -190px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-175px -190px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-350px -190px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-525px -190px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-700px -190px; height:95px; width:175px;"></a> </div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6"> <a href="#" style=" background:url(images/Recruiters-logos.webp) no-repeat; background-position:-875px -190px; height:95px; width:175px;"></a> </div>
</div>
</div>
</div>
</section>







<!-- <section id="request_callbsec" class="request_callbsec2">
<div class="container">
<ul class="list-inline text-center">
<li class="list-inline-item"><p>We Will Contact You, At a Time Witch Suits You Best</p></li>
<li class="list-inline-item"><a href="javascript:void(0);" data-toggle="modal" data-target="#request_modal">
    Request a Call Back
  </a></li>
</ul>
</div><--container--
</section>request_callbsec -->

<section id="call_action">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6">
<p>We Will Contact You, At a Time Which Suits You Best</p>
</div>
<div class="col-md-4"><a href="javascript:void(0);" data-toggle="modal" data-target="#request_modal"><i class="fas fa-phone-volume"></i> Request a Call Back</a></div>
</div>
</div>
</section>

</div>

