/*@CHARSET "UTF-8";

* { margin: 0; padding: 0; }

html {
	background-color: #f9f9f9;
}

body {
	direction:rtl;
	font: 12px "Tahoma", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
}*/



#container {
	direction:ltr;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	padding: 16px 16px 20px 16px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

#javascript_disabled_error{

	margin: 10px 10px 16px 10px;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	background-color: #ffebe8;
	border-color: #c00;
	font-family: Tahoma;
	font-size: 20px;
	
	}
#topnavbar{
  height: 40px;
	direction:rtl;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 10px 10px 10px 10px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 5px;
	background: #595454 !important;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
}
.fl{ float:left;}
.fr{ float:right;}

#menuspacer{
	height:8px;
	}


#menus_header{
	direction:ltr;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 1px 10px 1px 10px;
	font-weight: normal;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 5px;
	background: #003366;
	border: 1px solid #000;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	color:#FFFFFF;
	}

.menus_fieldset{
	/*
	padding-right:2px;
	padding-left:2px;
	padding-top:2px;
	padding-bottom:2px;
	*/
	
	
	direction:ltr;
	padding: 5px 5px 5px 5px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #000;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	
}



.menuslinks{
margin-top:0px;
margin-bottom:0px;
color:#000000;



  
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 1px;
	background: ; border-bottom:dashed #c3c2c2 1px ;
	
	 border-top:dashed #c3c2c2 1px ;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	text-align: left;

}


.adminhead{
margin-top:0px;
margin-bottom:0px;
color:#fff;
height:20px;


     padding: 2px 2px 2px 2px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 1px;
	background: #4E4E4E;
	border: 1px solid #464646;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	text-align: left; padding-left:10px;
	font-family:Arial, Helvetica, sans-serif; font-size:13px;

}



.menuslinkshover{
margin-top:0px;
margin-bottom:0px;
color:#fff;
background-color: #8d8886;

cursor:hand;


	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 1px;
	
	border: 1px solid #999999;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	text-align: left;
	
	

}

.menuslinkshover .menus a{ color:white;}

.menuslinksactive{
margin-top:0px;
margin-bottom:0px;
color:#fff;
background-color:#FF0033;

cursor:hand;


	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 1px;
	background: #AAD3F8;
	border: 1px solid #ccff33;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	text-align: left;
	
	

}

.menus{
	font: 12px "Tahoma", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
	}

a:link.menus,a:visited.menus{
	color:1C94C4;
	font-family:tahoma;
	text-decoration:none;
	font-size: 13px;
	display:block;
	   padding: 2px 2px 4px 35px;
}
a:hover.menus{
	color:white;
	text-decoration:none;
	font-family:tahoma;
	font-size: 13px;
	   padding: 2px 2px 4px 35px;
	}
	

#backtoblog a {
	position: absolute;
	top: 7px;
	left: 15px;
	text-decoration: none;
}

.pagetitle{
	margin-top:0px;
margin-bottom:0px;
color:#000000;
height:20px;


     padding: 2px 2px 2px 2px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 1px;
	background: #21759B;
	border: 1px solid #464646;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	text-align: center;
	color:#FFF !important;
	font-family: tahoma;
	font-size: 14px;
	}
	
	
	
	
#submitbtn {
	
	border-color: #21759b !important;
	background: #21759b;
	
	font-family: "Tahoma", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
	color: #FFF;
}

#submitbtn:hover {
	
	border-color: #000 !important;
	background: #21759b;
	
	font-family: "Tahoma", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
	color: #FFF;
}


/* admin profile page */

#optionspacer{
	height:20px;
	}

#profileoption{
	
   border-color: #000000 !important;
	color: #000;
	background-color: #e5e5e5;
	
    font-family: "Tahoma", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11psettingvariablex;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
    
	}
	
#profileoption:hover{
	
	margin: 7em auto;
	border-color: #000 !important;
	color: #FFF !important;
	background: #21759B url(file:///C|/Documents and Settings/Administrator/Desktop/dcaqar/images/button-grad.png) repeat-x scroll left top;
	
	
    font-family: "Tahoma", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
    
	}
	
#error, .message {
	margin: 0 0 16px 8px;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
	
.error {
	background-color: #ffebe8;
	border-color: #c00;
}

.error a {
	color: #c00;
}

#echobox_header{
margin-top:0px;
margin-bottom:0px;
color:#000000;
height:20px;


     padding: 2px 2px 2px 2px;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 1px;
	background: #21759B;
	border: 1px solid #464646;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	text-align: center;
	color:#FFF !important;
	font-family: tahoma;
	font-size: 14px;
	
	}


#settingvariable{
	direction:rtl;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	padding: 16px 16px 20px 16px;
	font-weight: normal;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	
	}

a.rightmenuheader:link{
	color:#ffffff;
	text-decoration:none;
}
	
.containerr{ width:199px;}

.conbg{ background:#EBEAEA; border:dashed #999999 1px ; -moz-border-radius: 7px 7px 7px 7px;
    -moz-box-shadow: 0 4px 18px #C8C8C8; padding:5px; font-family:Arial, Helvetica, sans-serif;
   
   }
   
   .conbg2{ background:#EBEAEA; border:dashed #1C94C4 1px ; -moz-border-radius: 7px 7px 7px 7px;
    -moz-box-shadow: 0 4px 18px #C8C8C8; padding:5px; font-family:Arial, Helvetica, sans-serif;
   
   }
   
      .galtab{ background:#8C8C8C;
   
   }