@CHARSET "UTF-8";

BODY {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px
}
.MMenu {
	COLOR: #000000; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 10px; FONT-WEIGHT: bold; LETTER-SPACING: 1px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 5px; MARGIN-TOP: 3px
}
.SMItem {
	COLOR: white; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 10px; LETTER-SPACING: 1px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 5px; MARGIN-TOP: 2px
}
.text {
	FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 8pt; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.box1 {
	COLOR: #666666; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 10px; MARGIN-RIGHT: 10px
}
A.box:link {
	COLOR: gray
}
A.box:visited {
	COLOR: gray
}
A.box:active {
	COLOR: black
}
A.box:hover {
	COLOR: black
}
A.bar:link {
}
A.bar:visited {
	COLOR: #ffffff;
}
A.bar:active {
	COLOR: #ffffff;
}
A.bar:hover {
	COLOR: #ffffff;
}
A {
	TEXT-DECORATION: none;
}
A:link {
	COLOR: #1C94C4;
}
A:visited {
	COLOR: #1C94C4;
}
A:active {
	COLOR: #575858;
}
A:hover {
	COLOR: #575858; text-decoration:underline;
}
.heading {
	COLOR: #666666; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 11px; FONT-WEIGHT: bold; LETTER-SPACING: 2px
}
.normal {
	COLOR: #666666; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 11px
}
.news {
	COLOR: black; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 11px; FONT-WEIGHT: bold; LETTER-SPACING: 2px; MARGIN: 3px 3px 3px 10px
}
.small {
	COLOR: white; 
	FONT-FAMILY: verdana, arial, 'sans-serif'; 
	FONT-SIZE: 7pt; 
	LETTER-SPACING: 1px;

}
.ssmall {
	COLOR: black; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 7pt; LETTER-SPACING: 1px
}
.white {
	COLOR: white; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 9pt; LETTER-SPACING: 1px; MARGIN-TOP: 15px
}
.whitehead {
	COLOR: white; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.normalP {
	COLOR: black; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 8pt; MARGIN: 2px 5px
}
.normalPW {
	COLOR: white; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 8pt; MARGIN: 2px 5px
}
.headingP {
	COLOR: white; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 10px; FONT-WEIGHT: bold; LETTER-SPACING: 2px; MARGIN: 3px 5px
}
.MenuBox {
	COLOR: black; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 8pt; MARGIN: 0px 1px 0px 5px
}
.Menu {
	COLOR: white; FONT-FAMILY: verdana, arial, 'sans-serif'; FONT-SIZE: 8pt; MARGIN-BOTTOM: 1px; MARGIN-TOP: 1px
}
.quickLink {
	COLOR: white; 
	FONT-FAMILY: verdana, arial, 'sans-serif'; 
	FONT-SIZE: 20px; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 5px; 
	MARGIN-LEFT: 10px; 
	MARGIN-TOP: 5px
}
.dark_black_h4 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px
}
.dark_white_h4 {
	COLOR: white; FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 15px; MARGIN-TOP: 3px
}
.dark_white2_h4 {
	COLOR: #1c0655; FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px; MARGIN-TOP: 5px
}
.lighth4 {
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 11px; 
	FONT-WEIGHT: normal; 
	LINE-HEIGHT: 13px; 
	MARGIN-BOTTOM: 5px; 
	MARGIN-LEFT: 10px; 
	Color: #ffffff;
}
.lighth5 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px; MARGIN-TOP: 5px
}
.lighth6 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 20px; MARGIN-TOP: 2px
}
.lighth7 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 10px; MARGIN-TOP: 3px
}
.lighth8 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 15px; MARGIN-TOP: 7px
}
.lighth9 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px; MARGIN-TOP: 5px
}
.lighth10 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px; MARGIN-TOP: 5px
}
.lighth11 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 10px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 0px; MARGIN-TOP: 2px
}
.lighth12 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 3px; MARGIN-TOP: 8px
}
.lighth13 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px; MARGIN-TOP: 2px
}

.lighth13sm {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold; LINE-HEIGHT: 14px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px; MARGIN-TOP: 2px
}


.lighth13n {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: normal; LINE-HEIGHT: 14px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 4px; MARGIN-TOP: 2px
}
.lighth14 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 10px; MARGIN-TOP: 4px
}
.lighth15 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px; MARGIN-TOP: 1px
}
.lighth16 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 1px; MARGIN-TOP: 1px
}
.lighth17 {
	FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; LINE-HEIGHT: 13px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 5px; MARGIN-RIGHT: 4px; MARGIN-TOP: 2px
}
.textbox {
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt; 
	color: #2f2f2f;
	border: 1px solid #2c2c2c;
}
.tbox {
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt; 
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #2C2C2C;
}
.textbox1 {
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt;
	color: #2f2f2f;
	border: 1px solid #ccc;
}

.textboxd {
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt;
	color: #2f2f2f;
	width:90px;
	border: 1px solid #ccc;
}

.textbox2 {
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt;
	color: #2f2f2f;
	border: 1px solid #003366;
}
.text_boxs11 {

	height: 15px;
	width: 212px;
	border: 1px solid #858585;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #2E2E2E;
	text-decoration: none;
}
.text_boxb11 {

	
	width: 206px;
	border: 1px solid #858585;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #2E2E2E;
		border: 1px solid #003366;
	text-decoration: none;
}

.text_boxbb11 {

	
	width: 274px;
	border: 1px solid #858585;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #2E2E2E;
		border: 1px solid #003366;
	text-decoration: none;
}



.text_boxbb12 {

	
	width: 274x;
	border: 1px solid #858585;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #2E2E2E;
		border: 1px solid #003366;
	text-decoration: none;
}




.curser {  cursor: pointer;}
.submit_but
{
	border:3px double #505C65;
	style="font-family verdana";
	font-size:8pt; color:#FFFFFF;
	background-color:#3E92D8
}
.blue_but
{
	border: 1px solid #4E4E4E;
	font-weight:bold;
	style="font-family verdana";
	font-size:8pt; color:#FFFFFF;
	background: url(../images/buuton-bg.png) repeat-x left top; padding:4px;
}

.blue_but:hover
{
	border: 1px solid #4E4E4E;
	font-weight:bold;
	style="font-family verdana";
	font-size:8pt; color:#FFFFFF;
	background: url(../images/buuton-bg2.png) repeat-x left top; padding:4px;
}
.mydiv
{
MARGIN-TOP: 4px;
MARGIN-BOTTOM: 3px; 
}
.mydiv1
{
MARGIN-TOP: 4px;
MARGIN-BOTTOM: 3px; 
 
}
/*-- for select box --*/
div.combo {
    position:relative;
    left: 0px;
    top: 0px;
}


/*text input*/
.combo input {
    position: absolute;
}


/*icon*/
.combo div.icon {
    position:absolute;
}
/*list wrapper*/
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 250px;
	width:130px; 
    max-height: 250px;;
    /*should be always at the top*/
    z-index: 99999;
	right:20px; padding-right:5px;
	width:190px;
}
/*"drop-up" list wrapper*/
.combo div.list-wrapper-up {}

/*dropdown list*/
.combo ul {}

/*dropdown list item*/
.combo  li {
    height: 20px;
}
/*active (hovered) list item*/
.combo li.active {}
.combo .visible {
    display: block;
}
.combo .invisible {
    display: none;
}
/*used when emptyText config opt is set. Applied to text input*/
.combo input.empty {}
div.combo {
    position:relative;
    white-space: nowrap;
    height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    width:130px;
}
.combo input {
    margin: 0 0 0 0;
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding:1px 3px;
    background:#fff url(sexy/text-bg.gif) repeat-x 0 0;
    border:1px solid #B5B8C8;
    height: 18px;
    line-height:18px;
    vertical-align:middle; 
    position: absolute;
    left: 0px;
    top: 0px; 
    width: 198px;  
}
.combo div.icon {
    width:17px;
    height:21px;
    border: 0;

    background:transparent url(../images/trigger.gif) no-repeat 0 0;
    cursor:pointer;
    border-bottom: 1px solid #B5B8C8;
    position:absolute;
    top:0px;
    left: 129px; 
}
div.list-wrapper {
    position: absolute;
    left: 0px;
    top: 21px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    padding: 0;
    overflow: hidden;
    margin: 0;
    height: 200px; 
    max-height: 200px;
    z-index: 99999;
    width:130px;
}

.combo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
}
.combo  li {
    padding: 0;
    padding-left: 5px;
    font:normal 14px tahoma, arial, helvetica, sans-serif;
    background-color: #FFFFFF;
    height: 20px;
    cursor: pointer;
    margin: 0;
}
.combo li.active {
    background-color: rgb(223, 232, 246);
}
.combo .visible {
    display: block;
}
.combo .invisible {
    display: none;
}
.combo input.empty {
    color: gray;
}
.white{ color:#FFFFFF; font-size:13px; font-family:Arial, Helvetica, sans-serif;}
.fnt11{ font-size:11px; font-family:Arial, Helvetica, sans-serif;}
.twh{ width:224px; height:20px;}


.blue2{ color:#1C94C4;}

.tl{ text-align:left;}
.tr{ text-align:right;}
.tc{ text-align: center;}
.tj{ text-align: justify;}
.lighto{ background:#FFF4E2; border:dashed #D3942E 1px; border-left:none; border-right:none; }
.orange{ background:#D3942E; color:#fff}
.black{ color:#454545}


.lighto2{ background:#EBEAEA; border:dashed #1C94C4 1px; border-left:none; border-right:none; }

.lighto3{ background:#FFFCE2; border:dashed #1C94C4 1px; border-left:none; border-right:none; }

.conbg{ background:#EBEAEA; border:dashed #999999 1px ; -moz-border-radius: 7px 7px 7px 7px;
    -moz-box-shadow: 0 4px 18px #C8C8C8; padding:5px; font-family:Arial, Helvetica, sans-serif;
   
   }
   
   .conbg2{ background:#EBEAEA; border:dashed #1C94C4 1px ; -moz-border-radius: 7px 7px 7px 7px;
    -moz-box-shadow: 0 4px 18px #C8C8C8; padding:5px; font-family:Arial, Helvetica, sans-serif;
   
   }
   .cls{ clear:both;}