/* CSS Document */
h2.acc_trigger {
	padding: 0;	margin: 0 0 5px 0;
	background: url(../images/h2_trigger_a_en.gif) no-repeat;
	height: 25px;	line-height: 25px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: right;
}
h2.acc_trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
	text-align:left;
	padding: 0 0 0 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h2.acc_trigger a:hover {
	color: #ccc;
}
h2.active {background-position: left bottom;}
.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	font-size: 13px;
	text-align:right;
	width: 200px;
	clear: both;
	background: #f0f0f0;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.acc_container .block {
	padding: 0px;
}











h3.lgout {
	padding: 0;	margin: 0 0 5px 0;
	background: url(../images/logout-bar.png) no-repeat;
	height: 25px;	line-height: 25px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: right;
}
h3.lgout a {
	color: #fff;
	text-decoration: none;
	display: block;
	text-align:left;
	padding: 0 0 0 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h3.lgout a:hover {
	color: #ccc;
}
