<style type="text/css">
   th{
text-align: center;
   }
   td{
    text-align: center;

   }


   .action_icon a span {
    font-size: 14px !important;
}
 .action_icon a {
    font-size: 13px !important;
}
.action_icon b i {
    font-size: 13px !important;
}

.action_icon a {
    display: inline-block;
    width: 21px;
    text-align: center;
}
 </style>
 <div class="content-wrapper">
   <section class="content-header">
    <h1>
         Course Detail
    </h1>
    <ol class="breadcrumb">
    <li><a href="<?php echo SITE_URL; ?>admin/dashboards"><i class="fa fa-home"></i>Home</a></li>
<li><a href="<?php echo SITE_URL; ?>admin/course">Course List</a></li>
    </ol> 
    </section> <!-- content header -->

    <section class="content">
  <div class="row">
    <div class="col-xs-12">    
  <div class="box">
    <div class="box-header">
  <?php echo $this->Flash->render(); ?>


  <?php $role_id=$this->request->session()->read('Auth.User.role_id'); ?>
            

  <?php $role_id=$this->request->session()->read('Auth.User.role_id'); ?>
            <script>          
              $(document).ready(function () { 
                $(".Stsearchs").bind("change", function (event) {
                 $('.lds-facebook').show();
                  $.ajax({
                    async:true,
                    data:$("#Stsearch").serialize(),
                    dataType:"html",
                    type:"POST",
                    url:"<?php echo ADMIN_URL ;?>course/search",
                    success:function (data) {
                    $('.lds-facebook').hide();   
                      $("#Mycity").html(data); },
                    });
                  return false;
                });
              });


              $(document).ready(function () { 
                $(".branch").bind("change", function (event) {
               $('.lds-facebook').show();
                  $.ajax({
                    async:true,
                    data:$("#Stsearch").serialize(),
                    dataType:"html",
                    type:"POST",
                    url:"<?php echo ADMIN_URL ;?>course/search",
                    success:function (data) {
                  $('.lds-facebook').hide();   
                      $("#Mycity").html(data); },
                    });
                  return false;
                });
              });

              $(document).on('click', '.pagination a', function(e) {
                var target = $(this).attr('href');
                var res = target.replace("/course/search", "/course");
                window.location = res;
                return false;
              });
            </script>

           
            
            <div class="form-group studentDtlFrmGroup" >
            
            <div class="row">
  <div class="col-md-10">
             <?php echo $this->Form->create('Stsearch',array('type'=>'get','inputDefaults'=>array('div'=>false,'label'=>false),'id'=>'Stsearch','class'=>'form-horizontal','method'=>'POST')); 
             
             $types=['1'=>'Static Page','3'=>'Main Course','2'=>'Course']; ?>

             
             <div class="row">
            
            

               <div class="col-sm-4">
              
            <?php echo $this->Form->input('name',array('class'=>'form-control branch','label' =>false,'placeholder'=>'Search Course Name..','autocomplete'=>'off')); ?>  
              </div> 


            
              

            </div>
           



<style>
        .addnn , .addnn:hover{ height:55px; width: 55px; border-radius: 50%; background-color: #2d95e3; line-height: 15px; font-size: 14px !important; text-align: center; color: #fff; display: inline-block; text-decoration: none;}
        .addnn i{ font-size:18px; color:#fff; margin-top:10px;}
        .studentDtlFrmGroup .row{ display:flex; flex-wrap:wrap; width:100%;}
        .studentDtlFrmGroup .row>.col-md-10, .studentDtlFrmGroup .row>.col-md-2{ align-self:center !important;}
        .studentDtlFrmGroup .row>.col-md-10 form{ margin-bottom:0px !important;}

        .btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover{ animation-name: none !important;}
    </style>

            
     
   <?php /*          
              <div class="col-sm-1">
                <label for="inputEmail3" class="control-label" style="color:white">Reset</label>
                <input type="reset" style="background-color:#d33c44;color:#fff;"  class="btn btn-success" value="Reset">       
              </div> 
              <div class="col-sm-1" style="margin-left: -40px;">
                <label for="inputEmail3" class="control-label" style="color:white">Search</label>
                <input type="submit" style="background-color:green;color:#fff;" id="Mysubscriptions" class="btn btn-success" value="Search">       
              </div> */ ?>
              
              <?php echo $this->Form->end(); ?> 
</div>  
              
 
  <div class="col-md-2 pull-right">
    <ul class="list-inline w-75 m-auto text-center d-flex justify-content-around">
    <li class="list-inline-item ">

              <a class="addnn" href="<?php echo ADMIN_URL; ?>course/add"><i class="fa fa-user-plus" aria-hidden="true"></i>
     <br> New</a> 
            </li>

         


            </ul>
  <style>
        .addnn , .addnn:hover{ height:55px; width: 55px; border-radius: 50%; background-color: #2d95e3; line-height: 15px; font-size: 14px !important; text-align: center; color: #fff; display: inline-block; text-decoration: none;}
        .addnn i{ font-size:18px; color:#fff; margin-top:10px;}
        .studentDtlFrmGroup{ display:flex; flex-wrap:wrap;}
        .studentDtlFrmGroup>.col-md-10, .studentDtlFrmGroup>.col-md-2{ align-self:center !important;}
    </style>

            
              

   <?php /*          
              <div class="col-sm-1">
                <label for="inputEmail3" class="control-label" style="color:white">Reset</label>
                <input type="reset" style="background-color:#d33c44;color:#fff;"  class="btn btn-success" value="Reset">       
              </div> 
              <div class="col-sm-1" style="margin-left: -40px;">
                <label for="inputEmail3" class="control-label" style="color:white">Search</label>
                <input type="submit" style="background-color:green;color:#fff;" id="Mysubscriptions" class="btn btn-success" value="Search">       
              </div> */ ?>
              </div>  
              
            
      
       
              </div>
   
     </div><!-- /.box-header -->
      <div class="box-body" id="Mycity"> 
          
             

      <table  class="table table-bordered table-striped afTblStndRept" id="example33" width="100%">
               
                    <thead class="thead-dark">
                    <tr>
                            <th >No.</th>
                            <th style="text-align:left;">Course Name</th>
                           
                            <th style="text-align:left;">Short Name</th>
                            <th style="text-align:left;">Sort Order</th>
                            
                            <th style="text-align:left;">Fees</th>
                            <th style="text-align:left;">Added On</th>
                            <th style="text-align:left;" >Student Count</th>


                            
<th style="text-align:left;">Action</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                    <?php 
                $counter=($this->request->params['paging']['Course']['page']-1) * $this->request->params['paging']['Course']['perPage']; 
                if(isset($rec) && !empty($rec)){ 
                foreach($rec as $product){
                  
                  $courseSeo=$this->Comman->seoFind($product['id']);
                            $stuCount=$this->Comman->getCourseStudentCount($product['id']);
                  
                  
                  
                  
                  
                  //pr($product);die;?>
                  <tr>
                    <td><?php echo $counter+1;?></td>
                    <td style="text-align:left;"><b><?php echo $product['cname']; if(empty($courseSeo)){ echo " <span style='color:red'>*</span>"; } ?></b></td>
                   <td style="text-align:left;"><?php echo $product['sname'] ?></td>
                    <td style="text-align:left;"><?php if($product['sort_order']){ echo $product['sort_order']; }else{ echo $product['sort']; } ?></td>
                    <td style="text-align:left;"><?php echo $product['fees']; ?></td>
                    <td style="text-align:left;"><?php echo strftime('%d-%b-%Y',strtotime($product['add_date'])); ?></td>
                    <td style="text-align:left;"><?php echo $stuCount; ?></td>

                    <td style="
    display: flex;
    align-items: center;
    justify-content: center;
">

   <?php if($product['feature']=="N"){ ?>
      <a href="<?php echo ADMIN_URL; ?>course/feature/<?php echo $product['id'];?>/Y" class="fa fa-circle" title="Featured" style="font-size: 20px !important; color:gray;margin-right: 10px;"></a>
<?php }else{ ?>
  <a href="<?php echo ADMIN_URL; ?>course/feature/<?php echo $product['id'];?>/N" class="fa fa-circle" title="Unfeatured" style="font-size: 20px !important; color:#48bd4c;margin-right: 10px;"></a>
<?php } ?>
                    <?php if($product['status']==0){ ?>
                                <a
                                    href="<?php echo ADMIN_URL?>course/admin_make_supportiv/inactive/<?php echo $product['id'];?>">
                                    <img src="<?php echo SITE_URL?>admin_images/active.png"></a>
                                <?php } else { ?>
                                <a
                                    href="<?php echo ADMIN_URL?>course/admin_make_supportiv/active/<?php echo $product['id'];?>">
                                    <img src="<?php echo SITE_URL?>admin_images/inactive.png"></a>
                                <?php } ?>
                    <?php  echo $this->Html->link(__(''), ['action' => 'edit', $product->id,],array('class'=>'fa fa-pencil-square-o fa-lg','title'=>'Edit','style'=>'font-size: 20px !important; margin-left: 12px;')) ?>
                     

                     <?php echo $this->Html->link('', ['action' => 'delete',$product->id],['title'=>'Delete','class'=> 'fa fa-trash','style'=>'color:#FF0000; margin-left: 13px; font-size: 19px !important;',"onClick"=>"javascript: return confirm('Are you sure do you want to delete this Course')"]); ?>
                   </td>
                 </tr>
                 <?php $counter++;} } ?>  





                       
                    </tbody>
                </table>
                <?php  //if(count($destination)>10){ //pr($events);?>
                  <?php echo $this->element('admin/pagination'); ?> 
            </div>
       
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
       </div>
      <!-- /.col -->  
    </div>
     <!-- /.row -->      
  </section>
    <!-- /.content -->  
       
 </div>     
     <!-- /.   content-wrapper -->  
     
     
