@charset "utf-8";
/* CSS Document */
@import url("reset.css");
@import url("font-awesome.min.css");
/**** DEFAULT SECTION
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.container {
	max-width:1170px;
	width:auto;
}
html, body, .container {
    height: auto;
}
.bg-grey {
	background:#f4f4f4
}
.bg-green {
	background:#21b354
}
.bg-yellow {
	background:#ffcc29
}
.yellow {
	color:#ffcc29
}
.green {
	color:#21b354
}

/* Popup */
.modal-header {
	background-color: #21b354;
}
.modal-header h4, .modal-header button {
	color:#fff;
	font-weight:700;
	opacity:1
}
.modal-header button:hover, .modal-header button:focus {
	color:#ffcc29;
	font-weight:700;
	opacity:1
}
.form-control:focus {
	border-color: #ffcc29;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0);
	outline: 0 none;
}
/* Button */



.btn-default {
	background-color: #21b354;
	border-color: transparent;
	color: #fff;
	font-weight:700;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover {
	background-color: #ffcc29;
	border-color: transparent;
	color: #fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-animation-name: hvr-back-pulse;
	animation-name: hvr-back-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.btn-success{ background-color:#2d95e3; color:#fff; border-color:#5eaeea; font-weight:bold;}
.btn-success:hover{ background-color:#900!important; border-color:#900 !important; }
.btn-primary{ background-color:#900; color:#fff; border:0;  border-color:#900; font-weight:bold;}
.btn-primary:hover{ background-color:#093 !important; }

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
 50% {
 background-color: rgba(255, 204, 41, 0.75);
}
}
 @keyframes hvr-back-pulse {
 50% {
 background-color: rgba(255, 204, 41, 0.75);
}
}
/* Heading */
h2 {
	font-size:45px;
	font-weight:300;
	text-align:center;
	position:relative;
	margin-bottom:60px;
	margin-top:0
}
h2 strong {
	color:#ffcc29
}
h2:after {
	width:200px;
	margin:auto;
	display:block;
	background:#0b0b0b;
	height:1px;
	content:"";
	margin-top:8px
}
h2:before {
	width:10px;
	display:block;
	background:#0b0b0b;
	height:10px;
	content:"";
	position:absolute;
	bottom:-4px;
	left:49.5%;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
h4{ margin-top:20px !important; margin-bottom:20px !important;}

.bx-wrapper{ border:none !important; box-shadow:none !important;}
.table-bordered{ border:1px solid #f4f4f4 !important;}

/*.bx-wrapper{ width:auto !important;}*/
/**** HEADER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
header {
	padding-top:5px
}
.head-block {
	margin-top:45px;
	margin-bottom:45px;
	color:#777
}
.head-block img {
	margin-right:6px
}
/* Social Icons */
.head-block .social a {
	color:#777;
	height: 32px;
	width:32px;
	position:relative;
	display:inline-block;
	line-height:31px;
	text-align:center; font-size:24px; 
}
.head-block .social a:hover {
	color:#fff;
}
.head-block .social a:after {
	content: " ";
	transition: all 255ms ease-in;
	-moz-transition: all 255ms ease-in;
	-webkit-transition: all 255ms ease-in;
	transform: scale3d(0, 0, 0);
	-webkit-transform: scale3d(0, 0, 0);
	width: 100%;
	height: 100%;
	position:absolute;
	left:0;
	top:0;
	background-color: #21b354;
	opacity: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius:  50%;
	border-radius:  50%;
	z-index:-1;
}
.head-block .social a:hover:after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}
header .head-block{ font-size:13px;}
/*------------------------- NAVIGATION ------------------------------*/
.nav-yellow {
	background-color: #ffcc29;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:0;
	-webkit-border-radius:0;
	-moz-border-radius:  0;
	border-radius:  0;
	position:relative
}
.nav-yellow:after {
	background-color: #ffcc29;
	right:-16px;
	height:102%;
	width:10%;
	position:absolute;
	top:-1px;
	content:"";
	display:block;
	z-index:-1
}
.nav-yellow:before {
	position:absolute;
	content:"";
	left:-55px;
	top:-1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 82px 55px;
	border-color: transparent transparent #ffcc29 transparent;
}
.nav-yellow li a {
	color:#fff;
	font-size:20px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position:relative;
	padding:15px 12px
}
.nav > li > a:focus, .nav > li > a:hover {
	background:none;
	color:#21b354
}
.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.nav > li > a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: -16px;
	background: #21b354;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.nav > li > a:hover:before, .nav > li > a:focus:before, .nav > li > a:active:before {
	right: 0;
}
.nav-yellow .btn-default:hover, .nav-yellow .btn-default.focus, .nav-yellow .btn-default:focus, .nav-yellow .btn-default.active.focus, .nav-yellow .btn-default.active:focus, .nav-yellow .btn-default.active:hover, .nav-yellow .btn-default.focus:active, .nav-yellow .btn-default:active:focus, .nav-yellow .btn-default:active:hover {
	-webkit-box-shadow:inset 0 0 0 3px #21b354;
	-moz-box-shadow:inset 0 0 0 3px #21b354;
	box-shadow:inset 0 0 0 3px #21b354;
}
.nav-yellow .navbar-brand{ display:none;}
/**** SLIDER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#col_slider {
	position:relative;
	min-height:510px;
	height:100%;
	overflow:hidden
}
#col_slider .bx-wrapper .bx-controls-direction a{ text-indent: inherit !important;}

/**** ABOUT US
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#col_about {
	max-width:980px;
	margin:auto;
	text-align:center;
}
#col_about p {
	font-weight:300;
	line-height:30px;
}
.abt_btns a {
	margin:40px 5px 0;
	padding-left:30px;
	padding-right:30px
}
/**** OUR PROJECTS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#projects {
	position:relative
}
#projects figure {
	/*margin:0 10px;*/
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
}
#projects figure figcaption {
	padding:10px 15px;
	font-size:12px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/*Transition*/
  -webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	height:60px;
	position:absolute;
	left:0;
	bottom:20px;
	width:100%;
	background:#e0e3e3;
	text-align:center;
	overflow:hidden
}
#projects figure figcaption::before, #projects figure figcaption::after {
 pointer-events: none;
}
#projects figure:hover figcaption {
	height:95%;
	bottom:10px
}
#projects figure figcaption h5 {
	font-size:16px;
	margin:0;
	color:#0b0b0b;
	line-height:20px
}
#projects figure figcaption p, #projects figure figcaption a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	margin-top:20px;
	text-align:justify;
	line-height:18px
}
#projects figure:hover figcaption p, #projects figure:hover figcaption a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
#projects figure figcaption a {
	font-size:18px;
	margin-top:50px;
	display:inline-block
}
#projects figure img {
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width:100%
}
#projects figure:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}
#col_prodo .bx-controls-direction {
	position:absolute;
	top:-123px;
	right:138px;
}
#col_prodo .bx-prev, #col_prodo .bx-next, #col_impact .bx-prev, #col_impact .bx-next,  #news .bx-prev, #news .bx-next, #col_slider .bx-next, #col_slider .bx-prev{
	display:inline-block;
	margin:5px;
	cursor:pointer
}
#col_prodo .bx-prev:before, #col_impact .bx-prev:before, #news .bx-prev:before, #col_slider .bx-prev:before{
	content:'\f104';
	font-family:'FontAwesome';
	font-size:2.6666em;
	color:#21b354; display:block;  height:20px; width:20px;
}
#col_prodo .bx-next:before,  #col_impact .bx-next:before,  #news .bx-next:before, #col_slider .bx-next:before{
	content:'\f105';
	font-family:'FontAwesome';
	font-size:2.6666em;
	color:#21b354; display:block; height:20px; width:20px;
}
#col_prodo .view-all {
	position:absolute;
	right:80px;
	top: 12px
}
#col_prodo .bx-wrapper .bx-controls-direction a{ text-indent:inherit !important;}
#col_prodo .bx-wrapper .bx-controls-direction a{ position:static !important;}
/**** DONATION
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.col_donation {
	background:#323232 url(../images/map.jpg) center no-repeat;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	color:#fff;
	padding:15px 20px 55px
}
/**** OUR IMPACT
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#col_impact .bx-wrapper{ margin-bottom:0px;}
#col_impact .bx-wrapper .bx-controls-direction a{ text-indent:inherit;}
#col_impact .bx-wrapper .bx-controls-direction a{ position:static;}
#col_impact .bx-controls-direction {
	position:absolute;
	top:-123px;
	right:60px;}
	
#col_impact figure {
	position:relative;
	background:#f4f4f4;
}
#col_impact figure:before {
	background:#fff;
	content:"";
	display:block;
	height:21%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
#col_impact figcaption {
	position:relative;
	z-index:1;
	text-align:center
}
#col_impact figcaption img {
	border:5px solid #ffcc29; margin:auto;
}
#col_impact figcaption .list-unstyled {
	min-height:165px
}
#col_impact figcaption .list-unstyled li {
	padding-left:25px;
	position:relative;
	padding-right:10px;
	color:#0b0b0b;
	margin-bottom:8px;
	font-size:14px;
	font-weight:300
}
#col_impact figcaption .list-unstyled li:before {
	content:"\f111";
	font-family:'FontAwesome';
	font-size:0.7777em;
	color:#21b354;
	position:absolute;
	left:8px;
	top:3px
}
#col_impact figcaption .ylw-block {
	background:#ffcc29;
	padding:10px 10px 1px;
	color:#fff;
	text-align:left;
	margin-top:30px
}
#col_impact figcaption .ylw-block h4 {
	margin-top:0;
	font-size:20px
}
#col_impact figcaption .ylw-block h4:after {
	content:"";
	display:block;
	width:100px;
	background:#fff;
	height:1px;
	margin-top:5px;
}

/*#col_impact .bxslider-2{ display: flex;
  flex-wrap: wrap;} 
  #col_impact .bxslider-2 aside {  display: flex; 
  padding: 0.5em;
  width: 100%;}
 #col_impact .bxslider-2 aside figure.item figcaption{  display: flex;
   flex-direction: column;
   background-color: #f4f4f4 ;
   width: 100%;}*/
 #col_impact .bxslider-2 aside figure.item figcaption ul{ min-height:185px;}
/**** EVENT LIST
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.col_event {
	border-bottom:1px solid #d5d5d5;
	padding-bottom:30px;
	margin-bottom:30px
}
.col_event:after {
	clear:both;
	display:block;
	content:""
}
.col_date {
	background:#fff;
	width:108px;
	float:left;
	font-size:65px;
	color:#0b0b0b;
	text-align:center;
	font-weight:300;
	line-height:80px;
}
.col_date:before {
	content:"";
	display:block;
	background:#ffcc29;
	width:50px;
	height:2px;
	margin:auto
}
.col_date small {
	display:block;
	font-size:20px;
	line-height:24px;
	margin-bottom:15px
}
.evnt_content i {
	margin-right:5px
}
/**** LATEST MEDIA
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.col_media .nav-tabs {
	border-bottom:none;
}
.col_media .nav-tabs > li > a {
	font-size:18px;
	background:#fff;
	color:#21b354;
	border:1px solid #dfdfdf;
	border-bottom:none
}
.col_media .nav-tabs > li.active > a, .col_media .nav-tabs > li.active > a:focus, .col_media .nav-tabs > li.active > a:hover {
	background:#21b354;
	color:#fff;
	border-color:transparent;
	border-bottom:none
}
.col_media .tab-pane {
	padding:20px 12px;
	background:#fff;
	border:1px solid #dfdfdf;
}
.col_media .tab-pane .item {
	margin:0 10px;
}
.col_media .tab-pane .thumbnail {
	margin-bottom:0;
	text-align:justify
}
.col_media .tab-pane .thumbnail h3 {
	font-size:20px
}
.col_media .bx-controls-direction {
	text-align:center
}
.col_media .bx-prev, .col_media .bx-next {
	display:inline-block;
	margin:5px;
	cursor:pointer
}
.col_media .bx-prev:before {
	content:"\f104";
	font-family:'FontAwesome';
	font-size:2em;
	color:#21b354; display:block;
}
.col_media .bx-next:before {
	content:"\f105";
	font-family:'FontAwesome';
	font-size:2em;
	color:#21b354; display:block;
}
.new_date {
	border-top:1px solid #dfdfdf;
	padding:5px 15px 0;
	margin:0 -15px
}

#news .bx-controls-direction {
	position:absolute;
	bottom:-47px;
	right:41%;}

/**** col_listmedia
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
/*#col_listmedia .bx-carousel .bx-wrapper, .bx-carousel .bx-item{ display: table-cell;}
#col_listmedia .bx-carousel .bx-wrapper-outer{ border-collapse: separate;}*/
#col_listmedia .col_media #col_news{  display: flex;
  flex-wrap: wrap;}
#col_listmedia .col_media #col_news article{ display: flex; 
 /* padding: 0.5em;*/
  width: 100%; margin:5px;}
  #col_listmedia .col_media #col_news article .thumbnail{ display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 1em;
   width: 96%;}
#col_listmedia  .bx-wrapper .bx-controls-direction a{ text-indent:inherit; position:static;}
#col_listmedia .col_media a.btn{ position:absolute; bottom:20px; richness:40%;}
#col_listmedia .col_media #news{ position:relative; min-height:678px;}
/**** LEADERS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#col_leaders {
	background:#ffcc29
}
#col_leaders h2 {
	color:#323232
}
#col_leaders h2 strong {
	color:#fff
}
#col_leaders .carousel-caption {
	position: static;
	max-width:1100px;
	width:auto;
	margin:auto;
	background:#fff;
	padding:25px 10% 50px;
	font-size:20px;
	text-shadow:none;
	color:#323232;
}
#col_leaders .carousel-caption em {
	font-style:italic;
	line-height:20px;
	display:inline-block;
	margin-bottom:20px
}
#col_leaders .carousel-caption em small {
	font-size:12px;
	color:#323232;
	font-style:italic;
}
#col_leaders .item img {
	border:3px solid #ffcc29;
	margin:20px 0 0 30px
}
#col_leaders .carousel-caption p {
	font-weight:300
}
/**** GALLERY
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.mosaicflow__column {
	float:left;
}
.mosaicflow__item img {
	display:block;
	width:100%;
	max-width:500px;
	height:auto;
}
#col_gallery figure p {
	font-size:14px;
	line-height:16px
}
#col_gallery figure h5 {
	font-weight:700
}
/* Effect */
#col_gallery figure {
	position: relative;
	overflow: hidden;
}
#col_gallery figure img {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
#col_gallery figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding: 1em;
	background-color: transparent;
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
	opacity: 0;
	color:#fff;
	text-align: center
}
 #col_gallery figure figcaption::before {
pointer-events: none;
 position: absolute;
 top: 12px;
 right: 12px;
 bottom: 12px;
 left: 12px;
 background:rgba(255, 204, 41, 0.8);
 border: 2px solid #fff;
 content: '';
}
 #col_gallery figure figcaption::before, #col_gallery figure p, #col_gallery figure h5, #col_gallery figure i {
 opacity: 0;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
 transition: opacity 0.35s, transform 0.35s;
 -webkit-transform: scale(0);
 transform: scale(0);
}
 #col_gallery figure:hover figcaption::before, #col_gallery figure:hover p, #col_gallery figure:hover h5, #col_gallery figure:hover i {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
#col_gallery figure:hover figcaption {
	opacity: 1;
}
#col_gallery figure:hover img {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

/*-------------------------------------getenvolved------------------------
  -----------------------------------------------------------------------------*/
  #getenvolved .modal-dialog .modal-body .form-group .col-sm-3{padding-left:0px;}
/**** FOOTER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
footer {
	background:#323232 url(../images/foot-bg.jpg) center bottom no-repeat;
	background-size:cover;
	color:#fff;
}
footer a {
	color:#fff
}
footer a:hover, footer a:focus, footer a:active {
	color:#ffcc29;
}
footer .logo {
	margin-top:40px
}
footer h3 {
	margin:50px 0 20px;
	font-size:26px;
	border-bottom:2px dotted #636363;
	padding-bottom:8px
}
footer h3:first-letter {
	color:#ffcc29;
}
footer ul li {
	font-size:20px;
	margin-bottom:10px
}
.address, .call, .mail {
	margin-bottom:30px;
	padding-left:40px;
	position:relative
}
.address:before {
	content:url(../images/icon4.png);
	position:absolute;
	left:0;
	top:4px;
	display:block
}
.call:before {
	content:url(../images/icon5.png);
	position:absolute;
	left:0;
	top:4px;
	display:block
}
.mail:before {
	content:url(../images/icon6.png);
	position:absolute;
	left:0;
	top:4px;
	display:block
}
footer .bg-green {
	padding:20px;
	text-align:center; margin-top:40px;}
footer .bg-green h4 {
	font-size:24px;
	margin:30px 0 20px
}
footer .bg-green input.form-control {
	border-color:#fff;
	margin-top:20px;
	background-color:transparent;
	color:#fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius:0px;
}
footer .bg-green input[type="submit"] {
	background-color:#1a8a41;
	padding-left:40px;
	padding-right:40px;
}
footer .social {
	text-align:center;
	margin:10px 0
}
footer .social a.fa {
	height:48px;
	width:48px;
	text-align:center;
	line-height:48px;
	color:#fff
}
footer .social .fa-facebook-f {
	background-color:#39599f
}
footer .social .fa-twitter {
	background-color:#45b0e3
}
footer .social .fa-youtube {
	background-color:#e70031
}
footer .social .fa-instagram{ background-color:#808080;}
footer .social .fa-rss {
	background-color:#f8bc2e
}
.site-info {
	margin:20px -15px 0;
	padding:30px;
	background:#4f4f4f
}
.site-info:after {
	clear:both;
	display:block;
	content:""
}
footer .bg-green ::-webkit-input-placeholder {
 color: #fff;
}
 footer .bg-green :-moz-placeholder { /* Firefox 18- */
 color: #fff;
}
 footer .bg-green ::-moz-placeholder {  /* Firefox 19+ */
 color: #fff;
}
 footer .bg-green :-ms-input-placeholder {
 color: #fff;
}

/**** CONTACT PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#contact_page hgroup .bg-grey {
	text-align:center;
	padding:50px 0 20px
}
#contact_page hgroup h2 {
	margin-bottom:40px
}
#contact_page hgroup p {
	font-size:24px;
	font-weight:300
}
#contact_page hgroup svg:not(:root) {
 overflow: hidden;
}
#contact_page hgroup svg.pointer {
	height: 65px !important;
}
#contact_page hgroup svg.pointer path {
	fill: #f4f4f4;
	height: 110px !important;
	stroke: #f4f4f4;
	stroke-width: 2;
}
.contact_form {
	max-width:800px;
	margin:60px auto;
}
.contact_form button::-moz-focus-inner, .contact_form input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
.contact_form .form-group {
	margin-bottom:30px
}
.f-style {
	position: relative;
}
.f-style input, .f-style textarea {
 transition: .1s all linear;
}
.form-group-lg .f-style textarea.form-control {
	padding-bottom:4.5rem
}
.f-style label {
	position: absolute;
	top: 15px;
	left: 30px;
	font-size: 14px;
	color: #aaa;
 transition: .1s all linear;
	cursor: text;
}
.contact_form .f-style.active label {
	top: -12px;
	left: 15px;
	padding: 3px 5px;
	font-size: 12px;
	color: #fff;
	background: #ffcc29;
}
.contact_form button[type="submit"] {
	bottom: -3rem;
	left: 0;
	position: absolute;
	right: 0;
	background: #21b354;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	color: #fff;
	display: block;
	font-weight: 700;
	height: 6rem;
	margin: 0 auto;
	text-transform: uppercase;
	transform: rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-webkit-transition:  transform 400ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
	transition: transform 400ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
	width: 6rem;
	border:none;
}
.contact_form button[type="submit"] span {
	z-index: 2;
	color:#fff;
	position:relative;
	font-weight:700
}
.contact_form button[type="submit"]::after {
 background: inherit;
 border-radius: inherit;
 -webkit-border-radius: inherit;
 -moz-border-radius: inherit;
 content: "";
 height: inherit;
 left: 0;
 opacity: 0;
 position: absolute;
 top: 0;
 transform: scale(1);
 -ms-transform:scale(1);
 -webkit-transform:scale(1);
 transform-origin: 50% 50% 0;
 -webkit-transform-origin: 50% 50% 0;
 -ms-transform-origin: 50% 50% 0;
 -webkit-transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s, opacity 350ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
 transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s, opacity 350ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
 width: inherit;
 z-index: 1;
}
.contact_form button[type="submit"]:hover {
	transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-webkit-transform:rotate(60deg);
}
.contact_form button[type="submit"]:hover::after {
 opacity: 1;
 -ms-transform: scale(1.2);
 -webkit-transform:scale(1.2);
 transform: scale(1.2);
}
.contact_map{ margin-top:100px; border:1px solid #ccc}

/**** ABOUT PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#about_page:after{ content:""; clear:both; display:block}
#about_page hgroup{ padding:20px 0; text-align:center;background:#f4f4f4; }

/* About Title */
.abt_title{position: relative; width:150px; height:150px; display:inline-block; left:40px; top:-55px; z-index:1}
.abt_title:before{position: absolute; top:0px; left:0; display:block; content:"";width: 0;
height: 0;
border-style: solid;
border-width: 0 75px 75px 75px;
border-color: transparent transparent #ffcc29 transparent; } 
.abt_title:after { content: ''; display:block; position: absolute; top:75px; left:0; width: 0; height: 0;width: 0;
height: 0;
border-style: solid;
border-width: 75px 75px 0 75px;
border-color: #ffcc29 transparent transparent transparent}
.abt_title h1{ font-size:26px; font-weight:300; margin:0; text-align:center; padding-top:58px; color:#fff; position:relative; z-index:1}

/* About Logo */
.abt_logo{position: relative; width:250px; height:250px; display:inline-block; text-align:center;padding-top:45px;}
.abt_logo:before{position: absolute; top:0px; left:0; display:block; content:"";width: 0;
height: 0;
border-style: solid;
border-width: 0 125px 125px 125px;
border-color: transparent transparent #323232 transparent;} 
.abt_logo:after { content: ''; display:block; position: absolute; top:125px; left:0; width: 0; height: 0;width: 0;
height: 0;
border-style: solid;
border-width: 125px 125px 0 125px;
border-color: #323232 transparent transparent transparent; 
}
.abt_logo img{ width:150px; position:relative; z-index:1}

/* About Welcome */
.abt_wlcm{position: relative; width:224px; height:224px; display:inline-block; text-align:center;  color:#fff; vertical-align:top; padding-top:75px; left:-40px}
.abt_wlcm:before{position: absolute; top:0px; left:0; display:block; content:"";width: 0;
height: 0;
border-style: solid;
border-width: 0 112px 112px 112px;
border-color: transparent transparent #21b354 transparent;} 
.abt_wlcm:after { content: ''; display:block; position: absolute; top:112px; left:0; width: 0; height: 0;width: 0;
height: 0;
border-style: solid;
border-width: 112px 112px 0 112px;
border-color: #21b354 transparent transparent transparent;}
.abt_wlcm h5{ font-weight:700;position:relative; z-index:1}
.abt_wlcm p{ font-size:12px; line-height:16px; padding:0 24px; position:relative; z-index:1}

/* Introduction, Vision & Mission */
.abt_intro{ margin:auto; font-weight:300; width:1080px; padding:50px 0; text-align:center}
.abt_vision, .abt_mission{ float:left; width:50%; padding:50px 30px; text-align:center; color:#fff}
.abt_intro p, .abt_vision p, .abt_mission p{ line-height:30px}
#about_page h2:before, #about_page h2:after{ background:#fff}
.abt_vision h2 strong{ color:#21b354}

/**** PROJECTS PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.all_projects img{ max-height:250px; width:100%}
.all_projects figcaption{ position: relative;width: 100%;text-align:justify }
.all_projects figcaption h5{ font-size:16px; line-height:18px; margin-top:0}
.all_projects figcaption p{font-size:14px; color:#888; }
.tringle {
    width: 100%;
    height: 0;
    padding-top:90px;
    overflow: hidden;
	position:absolute; 
	top:-90px;
	left:0px
}
.tringle:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-100px;
    border-top: 100px solid transparent;
    border-right: 500px solid #e0e3e3;
}
.tringle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-100px;
    border-top: 100px solid transparent;
    border-left: 500px solid #fff;
	margin-left:-200px
}
/**** SINGLE PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.single_content{ text-align:justify; background:#fff; padding:20px 30px 50px}
.single_content h3{ color:#21b354; margin-bottom:40px}
.single_content .pull-left{ margin-right:30px; margin-bottom:12px}
.single_content .pull-right{ margin-left:30px;margin-bottom:12px}

/*------------------------------event_page--
--------------------------------------------------*/
#event_page{ margin:50px 0px; }
#event_page .ev-box{ background-color:#f4f4f4 ; padding:40px 12px; margin-bottom:15px; border:1px solid #f4f4f4 ;   display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; 	box-shadow: inset 0 0 0 10px #21b354 ;
		box-shadow: inset 0 0 0 2px #21b354 ;
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;}
/*#event_page .ev-box:hover{ border:1px solid #21b354; cursor:pointer;}*/
#event_page .ev-box:hover .ev-msg h5{ color:#21b354;}
#event_page .ev-box .ev-date{ width:20%; text-align:center; color:#21b354; position:relative; line-height:28px;}
#event_page .ev-box .ev-date:after{ content:''; display:inline-block; width:1px; height:50px; background-color:#5f5f5f; position:absolute; top:0px; left:83px;}
#event_page .ev-box strong{ display:block; font-size:40px; font-weight:700;} 
#event_page .ev-box .ev-msg{ width:70%; margin-left:15px;}
#event_page .ev-box .ev-msg h5{ color:#000; font-size:20px; text-align:left; margin-top:0px; margin-bottom:20px;}
#event_page .ev-box .ev-msg p{ color:#878787;}
#event_page .ev-box .place div{ margin-right:25px;}
#event_page .ev-box .place i, #event_page .ev-box .place span{ color:#858585;}
#event_page .ev-box .place i{ padding-right:10px;}




/* Float Shadow */

.ev-box:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.ev-box:hover, .ev-box:focus, .ev-box:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.ev-box:hover:before, .ev-box:focus:before, .ev-box:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}



/*-----------------------hover-line-
-----------------------------------------*/


.ev-box:hover {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}



.ev-box svg {
	position: absolute;
	top: 0;
	left: 0;
}



.ev-box svg line.top,
.ev-box svg line.bottom {
	stroke-dasharray: 400 240; 
}

.ev-box svg line.left,
.ev-box svg line.right {
	stroke-dasharray: 490 400;
}

.ev-box:hover svg line.top {
	-webkit-transform: translateX(-1000px);
	transform: translateX(-1000px);
}

.ev-box:hover svg line.bottom {
	-webkit-transform: translateX(1000px);
	transform: translateX(1000px);
}

.ev-box:hover svg line.left {
	-webkit-transform: translateY(1300px);
	transform: translateY(1300px);
}

.ev-box:hover svg line.right {
	-webkit-transform: translateY(-1000px);
	transform: translateY(-1000px);
}

/* Alternatives */

/* Color */


.ev-box:hover h3,
 .ev-box:hover span {
	color: #21b354;
}

 .ev-box svg line {
	stroke-width: 8;	stroke-width: 3;
	stroke: #ecf0f1;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}



 .ev-box:hover svg line {
	stroke: #ecf0f1;	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/*----------------media------------
----------------------------------------*/
 
#media_page .m-sec{ background-color:#f4f4f4; position:relative;} 
#media_page .m-sec .bx-cntent{ padding:40px 15px 10px; text-align:left; border:1px solid #f4f4f4; border-top:none;}
#media_page .m-sec .bx-cntent .dte{ margin-right:20px;}
#media_page .m-sec .bx-cntent i{ margin-right:8px; color:#21b354;} 
#media_page .m-sec .bx-cntent span{ color:#909090;}
#media_page .m-sec .bx-cntent h4{ color:#494949; font-size:18px; font-weight:700; margin-top:20px;}
#media_page .m-sec .bx-cntent p{ color:#838383; text-align:left; font-size:16px;}
#media_page .m-sec .bx-cntent a{ color:#21b354; font-size:16PX;}
#media_page .m-sec .bx-cntent a i{ vertical-align:-1px;}
#media_page .m-sec .icon{ position:absolute; height:35px; width:35px; -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%; background-color:#21b354; top:163px; text-align:center;}
#media_page .m-sec .icon i{ color:#fff ; line-height:36px; margin:0px;}
#media_page .m-sec:hover .bx-cntent{ border:1px solid #21b354; border-top:none;}

#g-involoved_page{ margin-top:50px;}
#g-involoved_page div.f-style:before{  color: #21b354 ; font-size:20px;

    display: inline-block;
    font-family: "FontAwesome";
    left: 26px;
    position: absolute;
    top: 11px;
    width: 90px;}
#g-involoved_page div.nme:before{ content:'\f007';}
#g-involoved_page div.p-numbr:before{ content:'\f10b';}
#g-involoved_page div.clendr:before{ content:'\f133';}
#g-involoved_page div.emal:before{ content:'\f0e0';}
#g-involoved_page div.coment:before{ content:'\f27a';}

#g-involoved_page div.f-style input{ padding-left:34px;}
#g-involoved_page div.f-style label{ left:48px;}



/*----------------checkbox-----------------------------*/
#g-involoved_page  .checkbox-success input[type="checkbox"]:checked + label::before, #g-involoved_page  .radio-success input[type="radio"]:checked + label::before{   background-color: #7ac122;
    border-color: #7ac122;}
	
#g-involoved_page  .checkbox, #g-involoved_page  .radio {
    padding-left: 20px;}
	
	.checkbox input[type="checkbox"], .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

#g-involoved_page  .checkbox label, #g-involoved_page  .radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

#g-involoved_page  .checkbox-success input[type="checkbox"]:checked + label::after, #g-involoved_page  .radio-success input[type="radio"]:checked + label::after {
    color: #fff;
}
#g-involoved_page  .checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    font-family: "FontAwesome";
}
#g-involoved_page  .checkbox label::after, #g-involoved_page  .radio label::after {
    color: #21b354;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}

#g-involoved_page  .checkbox-success input[type="checkbox"]:checked + label::before, #g-involoved_page  .radio-success input[type="radio"]:checked + label::before {
    background-color: #21b354;
    border-color: #21b354;
}
#g-involoved_page  .checkbox label::before  {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 17px;
}
#g-involoved_page  .radio label::before{  background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 10px;
    left: -16px;
   
    position: absolute;
    top: 3px;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 10px;}
	#g-involoved_page  .radio label:after{  border-radius:50%;    background-color: transparent;
    border: 1px solid #cccccc;
  
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 17px;}

#g-involoved_page  .checkbox, #g-involoved_page  .radio { float:left; margin-right:10px;}
/*.back-1:hover{ background-color:#c5c3c3;}

.catogory{ padding-top:50px;}
.m-box strong{ text-align:left; margin-top:10px; display:block; font-size:18px;}
.m-box span{ color:#a2a2a2; font-size:14px; text-align:left; display:block;}
.m-box p{ text-align:left;}
.fixed{ position:fixed;}*/

/*---------------------------all-projects------
----------------------------------------------------*/
#project_page .all_projects { display: flex;
  flex-wrap: wrap;} 
#project_page .all_projects div.col-sm-3{  display: flex; 
  padding: 0.5em;
  max-width: 100%;}
#project_page .all_projects div.col-sm-3 figure{   display: flex;
   flex-direction: column;
   background-color: #fff;
   max-width: 100%;}

 #about_page .abt2blcks{ display: flex;
  flex-wrap: wrap;} 
 #about_page .abt2blcks .abt_mission{  display: flex; 
  max-width: 100%;}
  
/*#media_page #portfoliolist{ display: flex !important;
  flex-wrap: wrap;} 
#media_page #portfoliolist .portfolio {  display: flex !important; 
  max-width: 100%;}
#media_page #portfoliolist .portfolio .portfolio-wrapper .bx-cntent{   display: flex;
   flex-direction: column;
   background-color: #fff;
   max-width: 100%;}*/
   
/*.col_media .owl-wrapper-outer{ display: flex;
  flex-wrap: wrap;}
.col_media .owl-wrapper-outer .owl-item{  display: flex; 
  padding: 0.5em;
  max-width: 100%;}
.col_media .owl-wrapper-outer .owl-item article {   display: flex;
   flex-direction: column;
   background-color: #fff;
   max-width: 100%;}*/
.col_media .owl-wrapper-outer .owl-item article .thumbnail{ min-height:489px;}
#col_listmedia .row .col-sm-6 .evnt_blocks, #col_listmedia .row .col-sm-6 .col_media{ min-height:656px;}
#media_page #portfoliolist .portfolio .portfolio-wrapper .bx-cntent{ min-height:350px;}


/*------------------------------extra-css-----------------*/
#myModal1 .table>tbody>tr>th, #myModal1 .table>tbody>tr>td{ border-top:none !important;}

/**** PAGE ADDSTUDENT
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
#addstudent_page{  padding:10px;}
#addstudent_page .container-fluid{ background-color:#fff;}
.content-header {
    position: relative;
    padding: 0;}
	
.content-header h3 {
    margin: 0;
    font-size: 24px; padding:10px 0;
}
.content-header ul.breadcrumb {
    padding: 14px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    text-align: right;
}
.content-header ul.breadcrumb a{ font-size:13px;}
.content-header:after{ content:""; clear:both; display:block;}
.content-header aside{ padding:2px;}
.bg-white {
	background:#fff; padding-top:0; padding-bottom:30px;
}

.cntnt-detail h4{  margin:20px 0;}
.cntnt-detail label{ font-size:13px;}

.cntnt-detail form span{ color:#F00;}



/**** PAGE VIEWSTUDENT
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
/*
/*
 *Strat student/employee profile layout
 */

.edusec-img-disp {
	border: 5px solid #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	width:135px;
	height:135px;
	margin: 15px;
}
.photo-edit {
    font-size: 15px;
    position: relative;
    top: -42px;
}
.photo-edit-admin {
    font-size: 15px;
    position: relative;
    top: -16px;
}
.profile-img{
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	width:170px;
    height:170px;
}
.photo-edit-icon {
	background: none repeat scroll 0 0 #fff;
	border-radius: 50%;
	padding: 5px 8px;
}
.photo-edit-icon-admin {
	background: none repeat scroll 0 0 #fff;
	border-radius: 50%;
	padding: 6px 10px;
}

.edusec-user-profile .tab-content {
	background: #fff;
	padding : 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    border-bottom:3px solid #00C0EF;
}

.edusec-user-profile .nav-tabs {
    border-bottom: 3px solid #00C0EF;
}

.edusec-user-profile .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  	background:#00C0EF;
   	color:#fff;
}
.edusec-user-profile .nav > li > a:hover, .edusec-user-profile .nav > li > a:focus {

    border:1px solid #00C0EF;
}
.edusec-profile-label {
    background: #F4F4F4;
    border-bottom: 1px solid #ddd;
    padding:12px;
    word-wrap: break-word;
}
.edusec-profile-text {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding:12px;
    word-wrap: break-word;
}

.edusec-profile-text:empty:before {
    content: '\00a0';
}

.edusec-stu-emg-gur .form-group {
    float:right;
    margin-bottom:0;
}
.edusec-emg-ct-label {
	float: left;
	font-weight: bold;
	margin-right: 5px;
	margin-top: 4px;
}
.edusec-profile-title-1 {
  	font-size:17px;
}
.edusec-pf-bg {
  background-color: #f4f4f4;
}
.edusec-pf-border {
  border: 1px solid #ececf0;
  box-shadow: 0 0 6px 1px #ececf0;
}

@media (max-width: 600px) {
  .disp-doc {
  	overflow: auto;
  }
}
@media (min-width: 600px) {
  .disp-doc {
  	overflow: visible;
  }
}
@media (max-width: 992px) {
  .profile-data {
  	padding: 0px !important;
  }
}

.tbl-profile .profile-label {
	background-color: #f5f5f5;

}
.tbl-profile th, .tbl-profile td {
	border-bottom: 1px solid #ddd !important;
	padding:10px !important;
}
.edusec-user-profile .box-header2 {
	background-color: #e3e3e3;
	border-bottom: 1px solid #b7b7b7 !important;
}
.profile-sub-header {
	font-size:18px !important;
}
.highlight-link {
  border-bottom: 1px dashed #888;
  font-weight: bold;
}

.btn-app {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    
    color: #666;
    font-size: 11px !important;
	font-weight:400 !important;
    height: 60px;
    margin: 10px 0 10px 10px;
    min-width: 90px;
    padding:5px !important;
    position: relative;
    text-align: center;
	 background-image: none !important;
}
.btn{background-image: none !important; width:auto !important; height:auto !important; background-color: transparent;}
.btn-app:hover {

    border: 1px solid #ddd;
    -webkit-box-shadow: 0 6px 5px 6px #ddd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   0 6px 5px 6px #ddd;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 6px 5px 6px #ddd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    
}
.btn-app .fa {
    display: block !important;
	font-size:15px;
   
}
#viewstudent_page  .btn-primary{ background-color:#900; color:#fff; border:0;  border-color:#900; font-weight:bold; font-size:12px;}
#viewstudent_page  .btn-primary:hover{ background-color:#093 !important; }

.nav-tabs>li a.active{ background-color:#06F;}

#slideToTop{ cursor:pointer;}


/**** MANAGE STUDENT-PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/

.stud-list{ margin-top:40px;}
.stud-list a{ font-size:13px;}
.stud-list a:hover{ font-size:13px;}
#managestudent_page a.btn { background-color:none !important;}



/**** MANAGE DEPARTMENT PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/


.dprt-list{ margin-top:40px;}

.dprt-list a{ font-size:13px;}
.dprt-list a:hover{ font-size:13px;}




/***   ADmin LTE
  ----------------------------*/
  .message.error {
    text-align: center;
    
    left: 0px;
    right: 0px;
    top: 210px;
    font-size: 18px;
    color: #F00;
}
.message.success {
    text-align: center;
    
    left: 0px;
    right: 0px;
    top: 210px;
    font-size: 18px;
    color: green;
}

