

    <select name="course_id" class="form-control branch">
<option value="">--Select Course-</option>
<?php foreach($coursesGroup as $jty=>$ity){ ?>
<option value="<?php echo $ity['id']; ?>"><?php echo $ity['cname']; ?></option>
    <?php } ?>

</select>
<script>
     $(".branch").bind("change", function (event) {
               $('.lds-facebook').show();
                  $.ajax({
                    async:true,
                    data:$("#Stsearch").serialize(),
                    dataType:"html",
                    type:"POST",
                    url:"<?php echo ADMIN_URL ;?>seo/search",
                    success:function (data) {
                  $('.lds-facebook').hide();   
                      $("#Mycity").html(data); },
                    });
                  return false;
                });
                </script>
