<table class="table table-bordered table-striped" width="100%">
              <thead>
                <tr>
                <th style="width:1%;text-align:left;">No.</th>
                            <th >Document Title</th>
                            <th >Category</th>
                            
                            <th > Date</th>
                            
<th style="text-align:left;">Action</th>    
                </tr>
              </thead>
              <tbody>
              <?php 
                $counter=($this->request->params['paging']['Document']['page']-1) * $this->request->params['paging']['Document']['perPage']; 
                if(isset($documents) && !empty($documents)){ 
                foreach($documents as $product){//pr($product);die;?>
                  <tr>
                    <td><?php echo $counter+1;?></td>
                    <td><b><?php echo $product['title']; ?></b></td>
                    <td><?php echo $product['category_document']['name']; ?></td>
                                        <td><?php echo $product['created']; ?></td>
                    <td>
                    
                     <?php  echo $this->Html->link(__(''), ['action' => 'edit', $product->id,],array('class'=>'fa fa-pencil-square-o fa-lg','title'=>'Edit','style'=>'font-size: 20px !important; margin-left: 12px;')) ?>

                     <?php echo $this->Html->link('', ['action' => 'delete',$product->id],['title'=>'Delete','class'=> 'fa fa-trash','style'=>'color:#FF0000; margin-left: 13px; font-size: 19px !important;',"onClick"=>"javascript: return confirm('Are you sure do you want to delete this Product')"]); ?>
                   </td>
                 </tr>
                 <?php $counter++;} } ?>  





                    
               </tbody>
             </table>
             <?php echo $this->element('admin/pagination'); ?> 